@import "compass/reset";

//fonts
@font-face {
  font-family: Lulo;
  src: url('../fonts/lulo/LuloCleanOneBold.otf');
}

// media query mixins
@mixin tiny {
  @media (max-width: 355px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 667px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 993px) {
    @content;
  }
}

@mixin full {
  @media (min-width: 1277px) {
    @content;
  }
}

// font sizes
$super-header: 36pt;
$header: 20pt;
$header-mobile: 17pt;
$sub-header: 16pt;
$body: 14pt;
$body-line-height: 21pt;
$sub-text: 8pt;
$sub-text-mobile: 6pt;

// colors
$text-light: #fff;
$text-medium: #555;
$text-dark: #373737;
$body-light: #fff;
$body-medium: #f8f8f8;
$body-dark: #262629;

// animation
$animation-time: 400ms;

a {
  text-decoration: none;
  color: inherit;
}

.overlay-container {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 4;

  .overlay {
    background: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    cursor: pointer;
    transition: all $animation-time ease;
  }

  .contact-card {
    opacity: 0;
    width: 100%;
    height: 100%;
    max-width: 650px;
    max-height: 475px;
    background: $body-light;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 4;
    position: relative;
    text-transform: uppercase;
    font-family: Lulo;
    box-shadow: none;
    transition: all $animation-time ease;

    .close {
      position: absolute;
      cursor: pointer;
      top: 30px;
      right: 25px;
    }

    .g-recaptcha {
      position: absolute;
      top: 150px;
      z-index: 3;

      &.animate {
        animation: slide-out 500ms ease forwards;
      }

      @keyframes slide-out {
        0% {
          opacity: 1;
          top: 150px;
        }
        50% {
          opacity: 0;
        }
        100% {
          opacity: 0;
          top: -75px;
        }
      }
    }

    .info-box {
      display: flex;
      flex-direction: column;
      line-height: 22pt;
      font-size: 14pt;
      padding: 20px;
      width: 100%;
      max-width: 400px;
      margin-left: 20px;
      opacity: 0;
      margin-top: 150px;

      .sub-header {
        font-size: 8pt;
      }

      &:last-child {
        margin-bottom: 50px;
      }

      &.animate-1, &.animate-2 {
        animation: slide-in 600ms 0ms ease forwards;
      }

      @keyframes slide-in {
        0% {
          opacity: 0;
          margin-top: 150px;
        }
        75% {
          opacity: 1;
        }
        100% {
          opacity: 1;
          margin-top: 0px;
        }
      }
    }

    @include mobile {
      margin: 0 10px;

      .info-box {
        font-size: 12pt;

        &:last-child {
          margin-bottom: 20px;
        }
      }

      .close {
        top: 20px;
        right: 15px;
      }
    }
  }

  &.show {
    display: flex;

    .overlay {
      background: rgba(0, 0, 0, .65);
    }

    .contact-card {
      opacity: 1;
      box-shadow: 0px 2px 15px -4px rgba(0, 0, 0, .5);
    }
  }
}

.container {
  font-family: 'Open Sans', Verdana, sans-serif;
  line-height: 18pt;
  font-weight: 100;
  background: $body-medium;
  overflow: hidden;

  .pdf {
    margin: 75px auto;
    max-width: 800px;

    .divider {
      height: 10px;
    }

    ul {
      list-style: unset;
      margin-left: 40px;
    }

    ol {
      margin-left: 20px;
    }

    .rick {
      text-decoration: underline;
    }

    @include tablet {
      padding: 20px;
      margin-top: 10px;
    }
  }

  .body-logo-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 40px;

    .body-logo {
      background-image: url('../images/black_logo.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      height: 80px;
      width: 80px;
    }
  }

  .header {
    text-transform: uppercase;
    font-family: Lulo;
    font-size: $header;
    letter-spacing: 0px;
    margin: 10px 0px 15px;
    line-height: 25pt;

    @include mobile {
      font-size: $header-mobile;
      padding: 0 25px;
    }

    &.margin {
      margin-bottom: 0px;

      @include mobile {
        padding: 0px;
      }
    }
  }

  .sub-header {
    font-family: 'Open Sans', Verdana, sans-serif;
    font-size: $sub-header;
    font-weight: 300;

    &.margin {
      margin: 45px 0px 10px;
    }
  }

  .body-text {
    font-family: 'Open Sans', Verdana, sans-serif;
    font-size: $body;
    font-weight: 300;
    line-height: 18pt;
    color: $text-medium;
  }

  .sub-text {
    font-family: 'Open Sans', Verdana, sans-serif;
    font-size: $sub-text;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0.3;
  }

  .nav {
    height: 50px;
    background-color: $body-dark;
    color: $text-light;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 18px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 5;

    @include mobile {
      // justify-content: center;
    }
    @include tiny {
      justify-content: center;
    }

    .logo {
      height: 27px;
      width: auto;
      cursor: pointer;
      font-family: Lulo;
      font-size: 8pt;
      color: $text-light;

      @include mobile {
        background-image: url('../images/eyecue_logo.png');
        background-size: cover;
        background-repeat: no-repeat;
        width: 27px;
      }
      @include tiny {
        display: none;
      }
    }

    .nav-item {
      padding: 0px 10px;
      text-transform: uppercase;
      font-family: Lulo;
      font-size: $sub-text;
      cursor: pointer;
      opacity: .5;
      user-select: none;

      &:last-child {
        padding-right: 0px;
      }

      &.active {
        opacity: 1;
      }
    }

    @include mobile {
      padding: 0px 10px;

      .logo {
        height: 20px;
        width: 20px;
      }

      .nav-item {
        padding: 0px 7px;
        font-size: $sub-text-mobile;
      }
    }
  }

  .footer {
    height: 50px;
    background: #242424;
    color: $text-light;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;

    .footer-item {
      padding: 0px 10px;
      font-family: 'Open Sans';
      font-size: 9pt;
      opacity: 0.3;
    }
  }

  .section {
    min-height: 655px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1277px;
    margin: 0 auto;

    @include mobile {
      min-height: 0px;
    }

    &.section-1 {
      position: relative;
      overflow: hidden;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      background-color: $body-light;
      background-image: url("../images/section1-sm.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      max-width: 100%;

      @include mobile {
        background-attachment: scroll;
      }

      .img-filter {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0);
        background-image: url("../images/section1pattern.png");
        background-size: auto;
        background-repeat: no-repeat;
        overflow: hidden;
        z-index: 1;
        opacity: 0.25;
        width: 100%;
        height: 100%;
      }

      .section-1-card-wrapper {
        height: 500px;
        z-index: 2;
        opacity: 0.95;
        background-color: rgba(0,0,0,0);
        margin-bottom: 10vh;

        @include mobile {
          position: absolute;
          top: 50px;
          left: 0;
          height: 100%;
          width: 100%;
        }
      }

      .section-1-card {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 500px;
        background-color: $body-light;
        opacity: 1;
        border-radius: 3px;
        animation: bringin 1.5s ease-out 0s 1 forwards;

        @keyframes bringin {
          0% {
            opacity: 0;
          }
          66% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }

        @include desktop {
          width: 638px;
        }
        @include tablet {
          width: 496px;
        }
        @include mobile {
          width: 100%;
          height: 85%;
        }
      }

      .section-1-card-title {
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15%;
        margin-bottom: 0;
        color: $text-dark;
        font-family: Lulo;
        font-size: $header;
        line-height: 28pt;
        text-align: center;
      }

      .section-1-card-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 80%;
        height: 50%;
        margin: 5% 10%;
        text-align: center;
        color: $text-dark;
        font-size: $body;
        line-height: $body-line-height;
        font-family: 'Open Sans', Verdana, sans-serif;
        font-weight: 500;

        .quote {
          font-size: $body - 4pt;
          line-height: $body-line-height - 6pt;
          color: $text-medium;
          font-style: italic;
          align-self: center;
          margin-top: 25px;
        }
      }

      .scroll-button {
        z-index: 3;
        bottom: 8%;
        height: 37px;
        width: 25px;
        background: white;
        border-radius: 7px;
        position: absolute;
        outline: none;
        cursor: pointer;
        justify-content: center;
        border: none;
        display: flex;
        opacity: 0;
        overflow: hidden;
        transition: all $animation-time ease;
        animation: fade-in $animation-time 3s ease forwards;

        @include mobile {
          bottom: 8%;
        }

        &:hover, &:active {
          background: #e6e6e6;
        }

        &:before {
          -webkit-transform: translate3d(0, 0, 0);
          content: '\25BC';
          position: absolute;
          top: -15px;
          left: 0px;
          right: 0px;
          animation: arrows 1.2s 3.33s ease infinite;
        }

        @keyframes fade-in {
          100% { opacity: 1; }
        }

        @keyframes arrows {
          0%, 30% {
            top: 8px;
          }
          35%, 65% {
            top: 13px;
          }
          70%, 100% {
            top: 18px;
          }
        }
      }
    }

    &.section-2 {
      background: $body-light;
      color: $text-dark;
      display: flex;
      flex-direction: column;
      width: 100%;
      position: relative;
      z-index: 2;

      #section-2-a {
        background-image: url("../images/section2a.png");
        border-radius: 3px 3px 0 0;
      }
      #section-2-b {
        background-image: url("../images/section2b.png");
      }
      #section-2-c {
        background-image: url("../images/section2c.png");

      }
      #section-2-d {
        background-image: url("../images/section2d.png");
      }

      .trapezoid {

      }

      .left-trapezoid {
        -webkit-clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
        -webkit-backface-visibility: hidden;
        clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
        backface-visibility: hidden;
      }

      .right-trapezoid {
        -webkit-clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 90%);
        -webkit-backface-visibility: hidden;
        clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 90%);
        backface-visibility: hidden;
      }

      .sub-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 700px;
        width: 100%;
        background-attachment: fixed;
        background-position: "0px 0px";
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: -75px;

        @include mobile {
          background-attachment: scroll;
        }


        &:nth-child(even) {
          justify-content: flex-start;
          .section-body {
            margin-left: 60px;
            @include tablet {
              margin-left: 0;
            }
          }
        }
        &:nth-child(odd) {
          justify-content: flex-end;
        }


        .section-body {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          height: 50%;
          width: 40%;
          max-width: 700px;
          margin: 0;
          padding: 5vw;
          color: $text-light;
          @include tablet {
            width: 100%;
            max-width: 100%;
          }
          h1 {
            font-family: Lulo;
            font-size: $sub-header;
            line-height: 20pt;
          }
          p {
            margin-top: 2.5%;
            font-family: 'Open Sans', Verdana, sans-serif;
            font-size: $body;
            line-height: $body-line-height;
          }
        }

      }

    }

    &.section-3 {
      background: $body-light;
      color: $text-dark;
      text-align: center;
      display: flex;
      flex-direction: column;
      padding: 50px 0px;

      .header {
        display: flex;
        flex-direction: column;
        margin: 50px 0px;
      }

      .sub-section {
        display: flex;
        flex-direction: row;
        text-align: left;
        max-width: 900px;
        margin: 50px auto;
        min-height: 200px;

        .section-text {
          display: flex;
          flex-direction: column;
          width: 70%;
          padding: 0px 5px;

          .section-header {
            padding: 0px 5px;
            font-size: $header;
            padding-bottom: 8px;
          }

          .section-body {
            display: flex;
            flex-direction: column;
            padding: 0px 35px 0px 5px;
            font-size: $body;
            line-height: $body-line-height;

            span {
              padding: 8px 0px;
            }
          }
        }

        .section-bullets {
          display: flex;
          flex-direction: column;
          width: 23%;
          max-width: 23%;
          padding: 15px;
          padding-left: 20px;
          border-left: 1px solid #b6b6b6;
          line-height: 27px;
          height: 200px;
          font-size: 8.5pt;
          justify-content: center;
          font-weight: 400;
          position: relative;

          .bullet-title {
            font-family: Lulo;
            letter-spacing: -1px;
            font-weight: 100;
          }

          .bullet {
            position: absolute;
            left: 45px;
            opacity: .7;
            text-transform: uppercase;
          }

        }

        @for $i from 1 through 3 {
          &:nth-child(#{$i}) {
            @for $j from 1 through 6 {
              .bullet:nth-child(#{$j}) {
                top: #{($j * 30 - 10) + 'px'};
                animation: marginx $animation-time #{($i * .2) + ($j * .05) + 's'} ease forwards;

                @include mobile {
                  top: #{($j * 25 - 10) + 'px'};
                }
              }
            }
          }
        }

        @keyframes marginx {
          100% {
            left: 20px;
            opacity: 1;
          }
        }
      }

      @include tablet {
        .sub-section {
          flex-direction: column;
          height: unset;
          justify-content: center;
          align-items: center;
          margin-bottom: 50px;

          .section-bullets {
            width: 70%;
            max-width: none;
            border-left: 0;
            border-top: 1px solid #b6b6b6;
            margin-top: 25px;
          }

          .section-body.body-text {
            padding-right: 0;
          }
        }
      }
    }

    &.section-4 {
      background: $body-light;
      color: $text-dark;
      display: flex;
      flex-direction: column;
      height: 850px;
      width: 100%;
      z-index: 2;

      @include mobile {
        height: 750px;
      }

      .sub-section {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 100%;
        width: 100%;
        border-radius: 0 0 3px 3px;
        background-color: #00c4ff;

        @include tablet {
          flex-direction: column;
          justify-content: space-around;
        }

        @include mobile {
          display: block;
          // background-attachment: scroll;
          justify-content: space-around;
          // padding-top: 25px;
        }

        .img-filter {
          position: absolute;
          top: 0;
          left: 0;
          background-repeat: no-repeat;
          overflow: hidden;
          width: 100%;
          height: 100%;
          background-image: url("../images/section1pattern.png");
          opacity: 0.5;
        }
      }

      .sub-section::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("../images/mikewest.jpg");
        background-attachment: fixed;
        background-position: 0px 50px;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.6;

        @include mobile {
          background-attachment: scroll;
          padding-top: 25px;
          background-position: 0px center;
        }

      }

      .section-4-box {
        display: flex;
        position: relative;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
          font-family: Lulo;
          font-size: $sub-header;
          color: $text-light;
          margin-bottom: 2.5vh;
        }

        @include tablet {
          align-items: flex-start;
        }

        @include mobile {
          display: block;
        }
      }

      #section-4-mobile-header {
        display: none;
        z-index: 3;
        @include mobile {
          display: block;
          height: auto;
          margin: 25px;
        }
      }

      #section-4-img-container {
        z-index: 3;
        width: 574px;
        img {
          width: 100%;
        }
        @include tablet {
          width: 416px;
          height: 300px;
          max-width: 100vw;
        }
        @include mobile {
          width: 200px;
          height: auto;
          float: left;
          padding-right: 25px;
        }
      }

      #section-4-text-container {
        z-index: 2;
        flex: 1;
        padding: 3%;
        margin-right: 3vw;
        p {
          margin-top: 2.5vh;
          font-family: 'Open Sans', Verdana, sans-serif;
          font-size: 14pt;
          line-height: 21pt;
          font-weight: 300;
          color: $text-light;
        }
        @include tablet {
          padding-top: 0;
          margin: 0;
        }
        @include mobile {
          padding-bottom: 0;
          h1 {
            display: none;
          }
        }
      }

    }

    &.section-5 {
      max-width: 100vw;
      text-align: center;
      min-height: 420px;
      height: 100px;
      color: $text-light;
      background-color: $body-dark;
      background: linear-gradient(to right, #202023 0%, #202023 15%, #27272f 35%, #202023 85%, #202023 100%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 1;
      margin-top: -50px;

      .inner-container {
        margin-top: 50px;
        align-self: center;
      }

      .header {
        font-size: $header;
        margin: 10px 0px 15px;

        @include mobile {
          font-size: $header-mobile;
          padding: 0 25px;
        }
      }

      button {
        width: 280px;
        border: 1px solid $text-light;
        height: 60px;
        border-radius: 0;
        background: transparent;
        color: $text-light;
        text-transform: uppercase;
        outline: none;
        font-family: 'Open Sans', Verdana, sans-serif;
        margin: 25px 0px;
        font-size: 9pt;
        font-weight: 100;
        cursor: pointer;
      }
    }
  }


}

.mobile-indicator {
  display: none;
  position: fixed;
  width: 1px;
  height: 1px;
  background-color: rgba(0,0,0,0);
  @include mobile {
    display: block;
  }
}
