@import "compass/reset";

//fonts
@font-face {
  font-family: Lulo;
  src: url('../fonts/lulo/LuloCleanOneBold.otf');
}

// media query mixins
@mixin mobile {
  @media (max-width: 667px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 993px) {
    @content;
  }
}

// font sizes
$super-header: 36pt;
$header: 20pt;
$header-mobile: 17pt;
$sub-header: 16pt;
$body: 11pt;
$sub-text: 8pt;
$sub-text-mobile: 6pt;

// colors
$text-light: #fff;
$text-medium: #555;
$text-dark: #373737;
$body-light: #fff;
$body-medium: #f8f8f8;
$body-dark: #303030;

.container {
  font-family: 'Open Sans', Verdana, sans-serif;
  line-height: 18pt;
  font-weight: 100;
  background: $body-medium;
  overflow: hidden;
  
  .header {
    text-transform: uppercase;
    font-family: Lulo;
    font-size: $header;
    letter-spacing: 0px;
    margin: 10px 0px 15px;
    line-height: 25pt;

    @include mobile {
      font-size: $header-mobile;
      padding: 0 25px;
    }
  }

  .sub-header {
    font-family: 'Open Sans', Verdana, sans-serif;
    font-size: $sub-header;
    font-weight: 300;
  }

  .body-text {
    font-family: 'Open Sans', Verdana, sans-serif;
    font-size: $body;
    font-size: 12pt;
    font-weight: 300;
    line-height: 18pt;
    color: $text-medium;
  }

  .sub-text {
    font-family: 'Open Sans', Verdana, sans-serif;
    font-size: $sub-text;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0.3;
  }

  .nav, .footer {
    height: 50px;
    background: #242424;
    color: $text-light;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;

    .logo {
      background-image: url('../images/eyecue_logo.png');
      background-size: cover;
      background-repeat: no-repeat;
      height: 27px;
      width: 27px;
    }

    .nav-item {
      padding: 0px 10px;
      text-transform: uppercase;
      font-family: Lulo;
      font-size: $sub-text;

      &:last-child {
        padding-right: 0px;
      }
    }

    .footer-item {
      padding: 0px 10px;
      font-family: 'Open Sans';
      font-size: 9pt;
      opacity: 0.3;
    }

    @include mobile {
      .logo {
        display: none;
      }

      .nav-item {
        font-size: $sub-text-mobile;

        &:last-child {
          padding-right: 10px;
        }
      }
    }
  }

  .section {
    min-height: 655px;
    // background: #4a4a4a;
    display: flex;
    justify-content: center;
    align-items: center;

    &.section-2, &.section-3 {
      width: 90%;
      max-width: 1150px;
      margin: 0 auto;

      @include mobile {
        width: 95%;
      }
    }

    &.section-1 {
      overflow: hidden;
      height: 100vh;
      display: flex;
      flex-direction: column;
      position: relative;
      color: #ffffff;
      background: radial-gradient(ellipse at top left 35%, #3a393d 10%, #27272f 35%, transparent 60%),
                  radial-gradient(ellipse at left, transparent 60%, #141414 90%),
                  linear-gradient(to right, #202023 0%, #202023 15%, #27272f 35%, #202023 85%, #202023 100%);

      .overlay {
        animation: grain 20s steps(1) infinite;
        height: 150%;
        width: 150%;
        position: absolute;
        background: url('../images/noise.png');
        z-index: 1;
        opacity: .15;
        // display: none;
      }

      @keyframes grain {
        0%, 100% { transform:translate(0, 0) }
        10% { transform:translate(-5%, -10%) }
        20% { transform:translate(-10%, 5%) }
        30% { transform:translate(5%, -10%) }
        40% { transform:translate(-5%, 10%) }
        50% { transform:translate(-10%, 10%) }
        60% { transform:translate(10%, 0%) }
        70% { transform:translate(0%, 10%) }
        80% { transform:translate(5%, 10%) }
        90% { transform:translate(-10%, 10%) }
      }

      .header {
        font-size: $super-header;
        margin: 28px 0px;
      }

      .sub-header {
        &.faded {
          opacity: 0.3;
        }
      }

      .animated-header-container {
        // -webkit-perspective: 1000px;
        text-align: center;
        display: flex;
        flex-direction: row;

        .animated-header {
          width: 45px;
          margin: 0 auto;
          height: 40px;
          -webkit-transition: -webkit-transform .33s;
          transition: all .33s;
          -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
          line-height: 1;
          text-align: center;

          .side-1, .side-2, .side-3, .side-4 {
            height: 40px;
            background: #26262c;
            color: white;
            margin-top: -2px;
            padding-top: 2px;
          }

          .side-1 {
            -webkit-transform: translateZ(20px);
            transform: translateZ(20px);
          }

          .side-2 {
            -webkit-transform: rotateX(-90deg) translateY(-20px);
            transform: rotateX(-90deg) translateY(-20px);
            transform-origin: top center;
          }

          .side-3 {
            -webkit-transform: translateZ(-20px) rotateX(180deg) translateY(80px);
            transform: translateZ(-20px) rotateX(180deg) translateY(80px);
          }

          .side-4 {
            -webkit-transform: rotateX(90deg) translateZ(140px);
            transform: rotateX(90deg) translateZ(140px);
          }

          @for $i from 1 through 15 {
            &.square-#{$i} {
              // animation: roll .33s #{(2000 + random(500)) + 'ms'} ease forwards;
              // animation: roll .33s #{2000 + ($i * 100)+ 'ms'} linear forwards;
              animation: roll 25s #{2000 + ($i * 80)+ 'ms'} linear infinite;
            }
          }

          @keyframes roll {
            0% { transform: rotateX(0deg); }
            20% { transform: rotateX(0deg); }
            25% { transform: rotateX(450deg); }
            45% { transform: rotateX(450deg); }
            50% { transform: rotateX(900deg); }
            70% { transform: rotateX(900deg); }
            75% { transform: rotateX(1350deg); }
            95% { transform: rotateX(1350deg); }
            100% { transform: rotateX(1800deg); }
          }
        }
      }

      .scroll-button {
        z-index: 2;
        bottom: 8%;
        height: 37px;
        width: 25px;
        background: white;
        border-radius: 7px;
        position: absolute;
        outline: none;
        cursor: pointer;
        justify-content: center;
        border: none;
        display: flex;
        transition: all 400ms ease;

        &:hover, &:active {
          background: #e6e6e6;
        }
 
        &:before {
          content: '\25BC';
        }
      }
    }

    &.section-2 {
      background: $body-light;
      color: $text-dark;
      display: flex;
      flex-direction: column;
      padding: 100px 0px 50px;
      position: relative;

      .sub-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 400px;
        width: 100%;
        max-width: 930px;
        position: relative;

        .section-body {
          flex: 1;
        }

        .section-image {
          flex: 1;
          height: 100%;
          width: 100%;
          position: relative;
        }

        .section-body {
          padding-right: 50px;
          padding-left: 25px;

          .sub-header {
            line-height: 28pt;
            font-size: $header;
            padding-bottom: 8px;
            display: flex;
            flex-direction: column;

            @include mobile {
              font-size: $header-mobile;
            }

            .border {
              border-left: 3px solid #4f4f4f;
              margin-left: -10px;
              padding-left: 6px;
              line-height: 18pt;
              margin-bottom: 5px;
            }
          }

          .body-text {
            display: flex;
            flex-direction: column;
            padding-right: 30px;

            @include tablet {
              padding-right: 0px;
            }

            span {
              padding: 8px 0;
            }
          }
        }

        &:nth-child(odd) {
          flex-direction: row-reverse;

          .section-body {
            padding-right: 25px;
            padding-left: 50px;
          }
        }

        @include mobile {
          height: unset;
          flex-direction: column;

          .section-body {
            padding: 0px 35px;
            max-width: 500px;
          }

          &:nth-child(odd) {
            flex-direction: column;

            .section-body {
              padding: 0px 25px;
            }
          }

          .section-image {
            height: 300px;
          }
        }
      }

      .section-image {

        @for $i from 1 through 4 {
          .image-#{$i} {
            background-image: #{"url('../images/section_" + $i + ".png')"};
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            height: 100%;
            top: 0px;
            bottom: 0px;
            max-height: 400px;
            width: 100%;

            @include mobile {
              margin: 0px auto;
              width: 100%;
              max-width: 400px;
              position: relative;
            }
          }
        }

        .image-1 {
          top: 60px;
          left: -175px;
          width: 155%;

          @include tablet {
            left: -130px;
          }

          @include mobile {
            left: 0px;
          }
        }

        .image-2 {
          top: 30px;
          width: 130%;

          @include tablet {
            left: -30px;
          }

          @include mobile {
            left: 0px;
          }
        }

        .image-3 {
          max-height: none;
          width: 120%;
          left: -75px;

          @include tablet {
            left: -40px;
          }

          @include mobile {
            left: 0px;
          }
        }

        .image-4 {
          top: 50px;
          left: 25px;
          width: 130%;

          @include tablet {
            left: -10px;
          }

          @include mobile {
            left: 0px;
          }
        }
      }
    }

    &.section-3 {
      background: $body-light;
      color: $text-dark;
      text-align: center;
      display: flex;
      flex-direction: column;
      padding: 50px 0px;

      .header {
        display: flex;
        flex-direction: column;
        margin: 50px 0px;
      }

      .sub-section {
        display: flex;
        flex-direction: row;
        text-align: left;
        max-width: 900px;
        margin: 25px auto;
        height: 250px;

        .icon {
          width: 7%;
          height: 40px;
          padding: 0px 5px;
          color: $text-dark;
          display: flex;
          justify-content: center;

          @for $i from 1 through 3 {
            .icon-#{$i} {
              background-image: #{"url('../images/icon_" + $i + ".png')"};
              background-size: contain;
              background-repeat: no-repeat;
              display: flex;
              width: 40px;
              height: 40px;
            }
          }
        }

        .section-text {
          display: flex;
          flex-direction: column;
          width: 70%;
          padding: 0px 5px;

          .section-header {
            padding: 0px 5px;
            font-size: $header;
            padding-bottom: 8px;

            @include mobile {
              font-size: $header-mobile;
              padding: 0 25px;
            }
          }

          .section-body {
            display: flex;
            flex-direction: column;
            padding: 0px 35px 0px 5px;

            span {
              padding: 8px 0px;
            }
          }
        }

        .section-bullets {
          display: flex;
          flex-direction: column;
          width: 23%;
          max-width: 20%;
          padding: 15px;
          padding-left: 20px;
          border-left: 1px solid #b6b6b6;
          line-height: 27px;
          height: 150px;
          font-size: 9pt;
          justify-content: center;
          font-weight: 400;
          position: relative;

          .bullet-title {
            font-family: Lulo;
            letter-spacing: -1px;
            font-weight: 100;
          }

          .bullet {
            position: absolute;
            left: 45px;
            opacity: .7;
          }

          @include mobile {
            max-width: 87%;
          }
        }

        @for $i from 1 through 3 {
          &:nth-child(#{$i}) {
            @for $j from 1 through 5 {
              .bullet:nth-child(#{$j}) {
                top: #{($j * 30 - 10) + 'px'};
                animation: marginx 350ms #{($i * .2) + ($j * .05) + 's'} ease forwards;
                
                @include mobile {
                  top: #{($j * 25 - 10) + 'px'};
                }
              }
            }
          }
        }

        @keyframes marginx {
          100% { 
            left: 20px;
            opacity: 1;
          }
        }
      }

      @include mobile {
        .sub-section {
          flex-direction: column;
          height: unset;
          padding: 0px 25px;
          align-items: center;
          margin-bottom: 50px;
          text-align: center;

          .icon {
            width: 10%;
            height: 50px;
            padding-bottom: 10px;
          }

          .section-bullets, .section-text {
            width: 100%;
          }

          .section-body.body-text {
            padding-right: 0;
          }

          .section-bullets {
            display: none;
            // margin-top: 15px;
            // height: 125px;
          }
        }
      }
    }

    &.section-4 {
      background: $body-medium;
      color: $text-dark;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      position: relative;
      padding-top: 115px;

      .image-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-width: 1050px;
        margin: 50px 0px -50px;
        justify-content: center;
        overflow: hidden;

        .image {
          overflow: hidden;
          width: 350px;
          height: 255px;
          transition: all 450ms ease;
          background: $body-dark;
          position: relative;

          @include mobile {
            width: 180px;
            height: 180px;

            .image-label {
              font-size: 8pt;
            }
          }

          .image-label {
            color: $text-light;
            text-transform: uppercase;
            font-family: Lulo;
            position: absolute;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            transition: all .33s ease;
          }

          @for $i from 1 through 12 {
            .maker-#{$i} {
              background-image: #{"url('../images/make_" + $i + ".png')"};
              background-size: cover;
              background-repeat: no-repeat;
              height: 100%;
              width: 100%;
              transform: scale(1.01);
              transition: all 400ms ease;

              &:hover {
                cursor: pointer;
                filter: contrast(115%) grayscale(75%);
                transform: scale(1.25);
                opacity: .15;
              }

              // &:hover ~ .image-label { }
            }
          }
        }
      }
    }

    &.section-5 {
      text-align: center;
      min-height: 420px;
      background: #262629;
      color: $text-light;
      background: linear-gradient(to right, #202023 0%, #202023 15%, #27272f 35%, #202023 85%, #202023 100%);

      .inner-container {
        margin-top: 50px;
      }

      .header {
        font-size: $header;
        margin: 10px 0px 15px;

        @include mobile {
          font-size: $header-mobile;
          padding: 0 25px;
        }
      }

      button {
        width: 280px;
        border: 1px solid $text-light;
        height: 60px;
        border-radius: 0;
        background: transparent;
        color: $text-light;
        text-transform: uppercase;
        outline: none;
        font-family: 'Open Sans', Verdana, sans-serif;
        margin: 25px 0px;
        font-size: 9pt;
        font-weight: 100;
      }
    }
  }
}

// button animation
//    fade in after 2 seconds
//    arrow click down 3 steps