@import "compass/reset";

//fonts
@font-face {
  font-family: Lulo;
  src: url('../fonts/lulo/LuloCleanOneBold.otf');
}

// media query mixins
@mixin tiny {
  @media (max-width: 355px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 667px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 993px) {
    @content;
  }
}

@mixin full {
  @media (min-width: 1277px) {
    @content;
  }
}

// font sizes
$super-header: 36pt;
$header: 20pt;
$header-mobile: 17pt;
$sub-header: 16pt;
$body: 11pt;
$sub-text: 8pt;
$sub-text-mobile: 6pt;

// colors
$text-light: #fff;
$text-medium: #555;
$text-dark: #373737;
$body-light: #fff;
$body-medium: #f8f8f8;
$body-dark: #262629;

// animation
$animation-time: 400ms;

a {
  text-decoration: none;
  color: inherit;
}

.overlay-container {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 3;

  .overlay {
    background: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;      
    cursor: pointer;
    transition: all $animation-time ease;
  }

  .contact-card {
    opacity: 0;
    width: 100%;
    height: 100%;
    max-width: 650px;
    max-height: 475px;
    background: $body-light;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 4;
    position: relative;
    text-transform: uppercase;
    font-family: Lulo;
    box-shadow: none;
    transition: all $animation-time ease;

    .close {
      position: absolute;
      cursor: pointer;    
      top: 30px;
      right: 25px;
    }

    .g-recaptcha {
      position: absolute;
      top: 150px;
      z-index: 3;

      &.animate {
        animation: slide-out 500ms ease forwards;
      }

      @keyframes slide-out {
        0% {
          opacity: 1;
          top: 150px;
        }
        50% {
          opacity: 0;
        }
        100% {
          opacity: 0;
          top: -75px;
        }
      }
    }

    .info-box {
      display: flex;
      flex-direction: column;
      line-height: 22pt;
      font-size: 14pt;
      padding: 20px;
      width: 100%;
      max-width: 400px;
      margin-left: 20px;
      opacity: 0;
      margin-top: 150px;

      .sub-header {
        font-size: 8pt;
      }

      &:last-child {
        margin-bottom: 50px;
      }

      &.animate-1, &.animate-2 {
        animation: slide-in 600ms 0ms ease forwards;
      }

      @keyframes slide-in {
        0% {
          opacity: 0;
          margin-top: 150px;
        }
        75% {
          opacity: 1;
        }
        100% {
          opacity: 1;
          margin-top: 0px;
        }
      }
    }

    @include mobile {
      margin: 0 10px;

      .info-box {
        font-size: 12pt;

        &:last-child {
          margin-bottom: 20px;
        }
      }

      .close {
        top: 20px;
        right: 15px;
      }
    }
  }

  &.show {
    display: flex;

    .overlay {
      background: rgba(0, 0, 0, .65);
    }

    .contact-card {
      opacity: 1;
      box-shadow: 0px 2px 15px -4px rgba(0, 0, 0, .5);
    }
  }
}

.container {
  font-family: 'Open Sans', Verdana, sans-serif;
  line-height: 18pt;
  font-weight: 100;
  background: $body-medium;
  overflow: hidden;

  .pdf {
    margin: 75px auto;
    max-width: 800px;

    .divider {
      height: 10px;
    }

    ul {
      list-style: unset;
      margin-left: 40px;
    }

    ol {
      margin-left: 20px;
    }

    .rick {
      text-decoration: underline;
    }
  }

  .body-logo-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 40px;

    .body-logo {
      background-image: url('../images/black_logo.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      height: 80px;
      width: 80px;
    }
  }

  .header {
    text-transform: uppercase;
    font-family: Lulo;
    font-size: $header;
    letter-spacing: 0px;
    margin: 10px 0px 15px;
    line-height: 25pt;

    @include mobile {
      font-size: $header-mobile;
      padding: 0 25px;
    }

    &.margin {
      margin-bottom: 0px;
    }
  }

  .sub-header {
    font-family: 'Open Sans', Verdana, sans-serif;
    font-size: $sub-header;
    font-weight: 300;

    &.margin {
      margin: 35px 0px 10px;
    }
  }

  .body-text {
    font-family: 'Open Sans', Verdana, sans-serif;
    font-size: $body;
    font-size: 12pt;
    font-weight: 300;
    line-height: 18pt;
    color: $text-medium;
  }

  .sub-text {
    font-family: 'Open Sans', Verdana, sans-serif;
    font-size: $sub-text;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0.3;
  }

  .nav {
    height: 50px;
    background: #242424;
    color: $text-light;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 5;

    .logo {
      background-image: url('../images/eyecue_logo.png');
      background-size: cover;
      background-repeat: no-repeat;
      height: 27px;
      width: 27px;
      cursor: pointer;

      @include tiny {
        display: none;
      }
    }

    .nav-item {
      padding: 0px 10px;
      text-transform: uppercase;
      font-family: Lulo;
      font-size: $sub-text;
      cursor: pointer;
      opacity: .5;
      user-select: none;

      &:last-child {
        padding-right: 0px;
      }

      &.active {
        opacity: 1;
      }
    }

    @include mobile {
      padding: 0px 10px;

      .logo {
        height: 20px;
        width: 20px;
      }

      .nav-item {
        padding: 0px 7px;
        font-size: $sub-text-mobile;
      }
    }
  }

  .footer {
    height: 50px;
    background: #242424;
    color: $text-light;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;

    .footer-item {
      padding: 0px 10px;
      font-family: 'Open Sans';
      font-size: 9pt;
      opacity: 0.3;
    }
  }

  .section {
    min-height: 655px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mobile {
      min-height: 0px;
    }

    &.section-2, &.section-3 {
      width: 90%;
      max-width: 1150px;
      margin: 0 auto;

      @include mobile {
        width: 100%;
      }
    }

    &.section-1 {
      overflow: hidden;
      height: 100vh;
      display: flex;
      flex-direction: column;
      position: relative;
      color: #ffffff;
      background-color: $body-dark;
      background: radial-gradient(ellipse at top left 35%, #3a393d 10%, #27272f 35%, transparent 60%),
                  radial-gradient(ellipse at left, transparent 60%, #141414 90%),
                  linear-gradient(to right, #202023 0%, #202023 15%, #27272f 35%, #202023 85%, #202023 100%);

      @include mobile {
        background: radial-gradient(ellipse at top left 35%, #3a393d 10%, #27272f 60%),
                    linear-gradient(to right, #202023 0%, #202023 15%, #27272f 35%, #202023 85%, #202023 100%);
      }

      // .noise-overlay {
      //   animation: grain 20s steps(1) infinite;
      //   height: 150%;
      //   width: 150%;
      //   position: absolute;
      //   background: url('../images/noise.jpg');
      //   z-index: 1;
      //   opacity: .15;

      //   /* IE10+ */
      //   @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      //     display: none;
      //   }
      // }

      .animation-container {
        max-width: 100%;
        z-index: 2;
      }

      @keyframes grain {
        0%, 100% { transform:translate(0, 0) }
        10% { transform:translate(-5%, -10%) }
        20% { transform:translate(-10%, 5%) }
        30% { transform:translate(5%, -10%) }
        40% { transform:translate(-5%, 10%) }
        50% { transform:translate(-10%, 10%) }
        60% { transform:translate(10%, 0%) }
        70% { transform:translate(0%, 10%) }
        80% { transform:translate(5%, 10%) }
        90% { transform:translate(-10%, 10%) }
      }

      .header {
        font-size: $super-header;
        margin: 28px 0px;
      }

      .sub-header {
        &.faded {
          opacity: 0.3;
        }

        @include mobile {
          font-size: 13pt;
          padding: 0px 5%;
        }
      }

      .animated-header-container {
        display: flex;
        flex-direction: column;
        min-width: 750px;
        margin-top: 0px;
        perspective: 4000px;

        .header-wrapper {
          display: flex;
          flex-direction: row;

          &.entering {
            transform: translateY(40px) translateZ(25px);
          }
        }

        .animated-header {
          min-width: 30px;
          height: 40px;
          -webkit-transition: -webkit-transform $animation-time;
          transition: all $animation-time;
          -webkit-transform-style: preserve-3d;
          -moz-transform-style: preserve-3d;
          -o-transform-style: preserve-3d;
          transform-style: preserve-3d;
          -ms-transform-style: none;
          line-height: 1;
          text-align: center;
          transform: translateZ(25px);

          @for $i from 1 through 15 {
            &.square-#{$i} {

              &.entering {
                transform: rotateX(-90deg) translateZ(25px);
                animation: roll-in 150ms #{1050 + ($i * 82)+ 'ms'} linear forwards;

                @include tablet {
                  transform: rotateX(-90deg) translateZ(20px);
                  animation: roll-in-tablet 150ms #{1050 + ($i * 82)+ 'ms'} linear forwards;
                }

                @include mobile {
                  transform: rotateX(-90deg) translateZ(15px);
                  animation: roll-in-mobile 150ms #{1050 + ($i * 82)+ 'ms'} linear forwards;
                }
              }

              &.exiting {
                transform: rotateX(0deg) translateZ(25px);
                animation: roll-out 150ms #{1000 + ($i * 80)+ 'ms'} linear forwards;

                @include tablet {
                  transform: rotateX(0deg) translateZ(20px);
                  animation: roll-out-tablet 150ms #{1000 + ($i * 80)+ 'ms'} linear forwards;
                }

                @include mobile {
                  transform: rotateX(0deg) translateZ(15px);
                  animation: roll-out-mobile 150ms #{1000 + ($i * 80)+ 'ms'} linear forwards;
                }
              }
            }
          }

          @keyframes roll-in {
            0% {
              opacity: 0.5;
            }
            100% {
              opacity: 1;
              transform: rotateX(0deg) translateZ(25px);
            }
          }

          @keyframes roll-out {
            0% {
              opacity: 1;
            }
            100% {
              opacity: 0.5;
              transform: rotateX(90deg) translateZ(25px);
            }
          }
        }

        @include tablet {
          min-width: 515px;
          font-size: 26pt;

          .header-wrapper {
            &.entering {
              transform: translateY(30px) translateZ(20px);
            }
          }

          .animated-header {
            min-width: 15px;
            height: 30px;
            transform: translateZ(20px);

            @keyframes roll-in-tablet {
              100% {
                transform: rotateX(0deg) translateZ(20px);
              }
            }

            @keyframes roll-out-tablet {
              100% {
                transform: rotateX(90deg) translateZ(20px);
              }
            }
          }
        }

        @include mobile {
          min-width: 415px;
          font-size: 18pt;
          padding: 0px 5%;

          .header-wrapper {
            &.entering {
              transform: translateY(20px) translateZ(15px);
            }
          }

          .animated-header {
            min-width: 12px;
            height: 20px;
            transform: translateZ(15px);

            @keyframes roll-in-mobile {
              100% {
                transform: rotateX(0deg) translateZ(15px);
              }
            }

            @keyframes roll-out-mobile {
              100% {
                transform: rotateX(90deg) translateZ(15px);
              }
            }
          }
        }
      }

      .scroll-button {
        z-index: 2;
        bottom: 8%;
        height: 37px;
        width: 25px;
        background: white;
        border-radius: 7px;
        position: absolute;
        outline: none;
        cursor: pointer;
        justify-content: center;
        border: none;
        display: flex;
        opacity: 0;
        overflow: hidden;
        transition: all $animation-time ease;
        animation: fade-in $animation-time 3s ease forwards;

        @include mobile {
          bottom: 8%;
        }

        &:hover, &:active {
          background: #e6e6e6;
        }
 
        &:before {
          -webkit-transform: translate3d(0, 0, 0);
          content: '\25BC';
          position: absolute;
          top: -15px;
          left: 0px;
          right: 0px;
          animation: arrows 1.2s 3.33s ease infinite;
        }

        @keyframes fade-in {
          100% { opacity: 1; }
        }

        @keyframes arrows {
          0%, 30% {
            top: 8px;
          }
          35%, 65% { 
            top: 13px;
          }
          70%, 100% {
            top: 18px;
          }
        }
      }
    }

    &.section-2 {
      background: $body-light;
      color: $text-dark;
      display: flex;
      flex-direction: column;
      padding: 100px 0px 50px;
      position: relative;

      .sub-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 400px;
        width: 100%;
        max-width: 930px;
        position: relative;

        @include mobile {
          &:not(:last-child) {
            padding-bottom: 35px;
          }
        }

        .section-body {
          flex: 1;
        }

        .section-image {
          flex: 1;
          height: 100%;
          width: 100%;
          position: relative;
        }

        .section-body {
          padding-right: 50px;
          padding-left: 25px;

          .sub-header {
            line-height: 28pt;
            font-size: $header;
            padding-bottom: 8px;
            display: flex;
            flex-direction: column;

            @include tablet {
              font-size: 15pt;
              white-space: nowrap;
            }

            @include mobile {
              font-size: $header-mobile;
            }

            .border {
              border-left: 3px solid #4f4f4f;
              margin-left: -10px;
              padding-left: 6px;
              line-height: 18pt;
              margin-bottom: 5px;

              @include mobile {
                border-left: none;
                margin-left: 0px;
                padding-left: 0px;
              }
            }
          }

          .body-text {
            display: flex;
            flex-direction: column;
            padding-right: 30px;

            @include tablet {
              font-size: 11pt;
              padding-right: 0px;
            }

            span {
              padding: 8px 0;
            }
          }
        }

        &:nth-child(odd) {
          flex-direction: row-reverse;

          .section-body {
            padding-right: 25px;
            padding-left: 50px;
          }
        }

        @include mobile {
          height: unset;
          flex-direction: column;

          .section-body {
            padding: 0px 5%;
            max-width: 500px;
          }

          &:nth-child(odd) {
            flex-direction: column;

            .section-body {
              padding: 0px 5%;
            }
          }

          .section-image {
            height: 300px;
          }
        }
      }

      .section-image {

        @for $i from 1 through 4 {
          .image-#{$i} {
            background-image: #{"url('../images/section_" + $i + ".png')"};
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            height: 100%;
            top: 0px;
            bottom: 0px;
            max-height: 400px;
            width: 100%;

            @include mobile {
              margin: 0px auto;
              width: 100%;
              max-width: 400px;
              position: relative;
            }
          }
        }

        .image-1 {
          top: 60px;
          left: -175px;
          width: 155%;

          @include tablet {
            left: -130px;
          }

          @include mobile {
            left: 0px;
          }
        }

        .image-2 {
          top: 30px;
          width: 130%;

          @include tablet {
            left: -30px;
          }

          @include mobile {
            left: 0px;
          }
        }

        .image-3 {
          max-height: none;
          width: 120%;
          left: -75px;

          @include tablet {
            left: -40px;
          }

          @include mobile {
            left: 0px;
          }
        }

        .image-4 {
          top: 50px;
          left: 25px;
          width: 130%;

          @include tablet {
            left: -10px;
          }

          @include mobile {
            left: 0px;
          }
        }
      }
    }

    &.section-3 {
      background: $body-light;
      color: $text-dark;
      text-align: center;
      display: flex;
      flex-direction: column;
      padding: 50px 0px;

      .header {
        display: flex;
        flex-direction: column;
        margin: 50px 0px;
      }

      .sub-section {
        display: flex;
        flex-direction: row;
        text-align: left;
        max-width: 900px;
        margin: 25px auto;
        height: 250px;

        .icon {
          width: 7%;
          height: 40px;
          padding: 0px 5px;
          color: $text-dark;
          display: flex;
          justify-content: center;

          @for $i from 1 through 3 {
            .icon-#{$i} {
              background-image: #{"url('../images/icon_" + $i + ".png')"};
              background-size: contain;
              background-repeat: no-repeat;
              display: flex;
              width: 40px;
              height: 40px;
            }
          }
        }

        .section-text {
          display: flex;
          flex-direction: column;
          width: 70%;
          padding: 0px 5px;

          .section-header {
            padding: 0px 5px;
            font-size: $header;
            padding-bottom: 8px;

            @include mobile {
              font-size: $header-mobile;
              padding: 0 25px;
            }
          }

          .section-body {
            display: flex;
            flex-direction: column;
            padding: 0px 35px 0px 5px;

            span {
              padding: 8px 0px;
            }
          }
        }

        .section-bullets {
          display: flex;
          flex-direction: column;
          width: 23%;
          max-width: 20%;
          padding: 15px;
          padding-left: 20px;
          border-left: 1px solid #b6b6b6;
          line-height: 27px;
          height: 150px;
          font-size: 9pt;
          justify-content: center;
          font-weight: 400;
          position: relative;

          .bullet-title {
            font-family: Lulo;
            letter-spacing: -1px;
            font-weight: 100;
          }

          .bullet {
            position: absolute;
            left: 45px;
            opacity: .7;
          }

          @include mobile {
            max-width: 87%;
          }
        }

        @for $i from 1 through 3 {
          &:nth-child(#{$i}) {
            @for $j from 1 through 5 {
              .bullet:nth-child(#{$j}) {
                top: #{($j * 30 - 10) + 'px'};
                animation: marginx $animation-time #{($i * .2) + ($j * .05) + 's'} ease forwards;
                
                @include mobile {
                  top: #{($j * 25 - 10) + 'px'};
                }
              }
            }
          }
        }

        @keyframes marginx {
          100% { 
            left: 20px;
            opacity: 1;
          }
        }
      }

      @include tablet {
        .sub-section {
          justify-content: center;

          .section-bullets {
            display: none;
          }
        }
      }

      @include mobile {
        .sub-section {
          flex-direction: column;
          height: unset;
          padding: 0px 25px;
          align-items: center;
          margin-bottom: 50px;
          text-align: center;

          .icon {
            width: 10%;
            height: 50px;
            padding-bottom: 10px;
          }

          .section-bullets, .section-text {
            width: 100%;
          }

          .section-body.body-text {
            padding-right: 0;
          }
        }
      }
    }

    &.section-4 {
      background: $body-medium;
      color: $text-dark;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      position: relative;
      padding-top: 115px;

      .image-container {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        max-width: 1150px;
        margin: 50px 0px -50px;
        justify-content: center;
        overflow: hidden;

        .image {
          overflow: hidden;
          width: 350px;
          height: 255px;
          transition: all $animation-time ease;
          background: $body-dark;
          position: relative;

          @include full {
            width: 383px;
            height: 285px;
          }

          @include mobile {
            width: 100%;
          }

          @include tiny {
            height: 170px;

            .image-label {
              font-size: 8pt;
            }
          }

          .image-label {
            color: $text-light;
            text-transform: uppercase;
            font-family: Lulo;
            position: absolute;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            transition: all $animation-time ease;
            pointer-events: none;
            opacity: 0;
            margin-bottom: 25px;
          }

          @for $i from 1 through 12 {
            .maker-#{$i} {
              background-image: #{"url('../images/make_" + $i + ".png')"};
              background-size: cover;
              background-repeat: no-repeat;
              height: 100%;
              width: 100%;
              transform: scale(1.01);
              transition: all $animation-time ease;

              &:hover, &:active, &:focus  {
                filter: contrast(115%) grayscale(75%);
                transform: scale(1.25);
                opacity: .15;
              }

              &:hover ~ .image-label, &:active ~ .image-label, &:focus ~ .image-label {
                opacity: 1;
                margin-bottom: 0px;
              }
            }
          }
        }
      }
    }

    &.section-5 {
      text-align: center;
      min-height: 420px;
      height: 100px; 
      color: $text-light;
      background-color: $body-dark;
      background: linear-gradient(to right, #202023 0%, #202023 15%, #27272f 35%, #202023 85%, #202023 100%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .inner-container {
        margin-top: 50px;
        align-self: center;
      }

      .header {
        font-size: $header;
        margin: 10px 0px 15px;

        @include mobile {
          font-size: $header-mobile;
          padding: 0 25px;
        }
      }

      button {
        width: 280px;
        border: 1px solid $text-light;
        height: 60px;
        border-radius: 0;
        background: transparent;
        color: $text-light;
        text-transform: uppercase;
        outline: none;
        font-family: 'Open Sans', Verdana, sans-serif;
        margin: 25px 0px;
        font-size: 9pt;
        font-weight: 100;
        cursor: pointer;
      }
    }
  }
}