/* line 5, ../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: Lulo;
  src: url("../fonts/lulo/LuloCleanOneBold.otf");
}
/* line 61, ../sass/people.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 66, ../sass/people.scss */
.overlay-container {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 3;
}
/* line 77, ../sass/people.scss */
.overlay-container .overlay {
  background: transparent;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  cursor: pointer;
  transition: all 400ms ease;
}
/* line 88, ../sass/people.scss */
.overlay-container .contact-card {
  opacity: 0;
  width: 100%;
  height: 100%;
  max-width: 650px;
  max-height: 475px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 4;
  position: relative;
  text-transform: uppercase;
  font-family: Lulo;
  box-shadow: none;
  transition: all 400ms ease;
}
/* line 106, ../sass/people.scss */
.overlay-container .contact-card .close {
  position: absolute;
  cursor: pointer;
  top: 30px;
  right: 25px;
}
/* line 113, ../sass/people.scss */
.overlay-container .contact-card .g-recaptcha {
  position: absolute;
  top: 150px;
  z-index: 3;
}
/* line 118, ../sass/people.scss */
.overlay-container .contact-card .g-recaptcha.animate {
  animation: slide-out 500ms ease forwards;
}
@keyframes slide-out {
  0% {
    opacity: 1;
    top: 150px;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    top: -75px;
  }
}
/* line 137, ../sass/people.scss */
.overlay-container .contact-card .info-box {
  display: flex;
  flex-direction: column;
  line-height: 22pt;
  font-size: 14pt;
  padding: 20px;
  width: 100%;
  max-width: 400px;
  margin-left: 20px;
  opacity: 0;
  margin-top: 150px;
}
/* line 149, ../sass/people.scss */
.overlay-container .contact-card .info-box .sub-header {
  font-size: 8pt;
}
/* line 153, ../sass/people.scss */
.overlay-container .contact-card .info-box:last-child {
  margin-bottom: 50px;
}
/* line 157, ../sass/people.scss */
.overlay-container .contact-card .info-box.animate-1, .overlay-container .contact-card .info-box.animate-2 {
  animation: slide-in 600ms 0ms ease forwards;
}
@keyframes slide-in {
  0% {
    opacity: 0;
    margin-top: 150px;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}
@media (max-width: 667px) {
  /* line 88, ../sass/people.scss */
  .overlay-container .contact-card {
    margin: 0 10px;
  }
  /* line 179, ../sass/people.scss */
  .overlay-container .contact-card .info-box {
    font-size: 12pt;
  }
  /* line 182, ../sass/people.scss */
  .overlay-container .contact-card .info-box:last-child {
    margin-bottom: 20px;
  }
  /* line 187, ../sass/people.scss */
  .overlay-container .contact-card .close {
    top: 20px;
    right: 15px;
  }
}
/* line 194, ../sass/people.scss */
.overlay-container.show {
  display: flex;
}
/* line 197, ../sass/people.scss */
.overlay-container.show .overlay {
  background: rgba(0, 0, 0, 0.65);
}
/* line 201, ../sass/people.scss */
.overlay-container.show .contact-card {
  opacity: 1;
  box-shadow: 0px 2px 15px -4px rgba(0, 0, 0, 0.5);
}

/* line 208, ../sass/people.scss */
.container {
  font-family: 'Open Sans', Verdana, sans-serif;
  line-height: 18pt;
  font-weight: 100;
  background: #f8f8f8;
  overflow: hidden;
}
/* line 215, ../sass/people.scss */
.container .pdf {
  margin: 75px auto;
  max-width: 800px;
}
/* line 219, ../sass/people.scss */
.container .pdf .divider {
  height: 10px;
}
/* line 223, ../sass/people.scss */
.container .pdf ul {
  list-style: unset;
  margin-left: 40px;
}
/* line 228, ../sass/people.scss */
.container .pdf ol {
  margin-left: 20px;
}
/* line 232, ../sass/people.scss */
.container .pdf .rick {
  text-decoration: underline;
}
@media (max-width: 992px) {
  /* line 215, ../sass/people.scss */
  .container .pdf {
    padding: 20px;
    margin-top: 10px;
  }
}
/* line 242, ../sass/people.scss */
.container .body-logo-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 40px;
}
/* line 248, ../sass/people.scss */
.container .body-logo-container .body-logo {
  background-image: url("../images/black_logo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 80px;
  width: 80px;
}
/* line 257, ../sass/people.scss */
.container .header {
  text-transform: uppercase;
  font-family: Lulo;
  font-size: 20pt;
  letter-spacing: 0px;
  margin: 10px 0px 15px;
  line-height: 25pt;
}
@media (max-width: 667px) {
  /* line 257, ../sass/people.scss */
  .container .header {
    font-size: 17pt;
    padding: 0 25px;
  }
}
/* line 270, ../sass/people.scss */
.container .header.margin {
  margin-bottom: 0px;
}
@media (max-width: 667px) {
  /* line 270, ../sass/people.scss */
  .container .header.margin {
    padding: 0px;
  }
}
/* line 279, ../sass/people.scss */
.container .sub-header {
  font-family: 'Open Sans', Verdana, sans-serif;
  font-size: 16pt;
  font-weight: 300;
}
/* line 284, ../sass/people.scss */
.container .sub-header.margin {
  margin: 45px 0px 10px;
}
/* line 289, ../sass/people.scss */
.container .body-text {
  font-family: 'Open Sans', Verdana, sans-serif;
  font-size: 14pt;
  font-weight: 300;
  line-height: 18pt;
  color: #555;
}
/* line 297, ../sass/people.scss */
.container .sub-text {
  font-family: 'Open Sans', Verdana, sans-serif;
  font-size: 8pt;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 0.3;
}
/* line 305, ../sass/people.scss */
.container .nav {
  height: 50px;
  background-color: #262629;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 18px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 5;
}
@media (max-width: 355px) {
  /* line 305, ../sass/people.scss */
  .container .nav {
    justify-content: center;
  }
}
/* line 327, ../sass/people.scss */
.container .nav .logo {
  height: 27px;
  width: auto;
  cursor: pointer;
  font-family: Lulo;
  font-size: 8pt;
  color: #fff;
}
@media (max-width: 667px) {
  /* line 327, ../sass/people.scss */
  .container .nav .logo {
    background-image: url("../images/eyecue_logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 27px;
  }
}
@media (max-width: 355px) {
  /* line 327, ../sass/people.scss */
  .container .nav .logo {
    display: none;
  }
}
/* line 346, ../sass/people.scss */
.container .nav .nav-item {
  padding: 0px 10px;
  text-transform: uppercase;
  font-family: Lulo;
  font-size: 8pt;
  cursor: pointer;
  opacity: .5;
  user-select: none;
}
/* line 355, ../sass/people.scss */
.container .nav .nav-item:last-child {
  padding-right: 0px;
}
/* line 359, ../sass/people.scss */
.container .nav .nav-item.active {
  opacity: 1;
}
@media (max-width: 667px) {
  /* line 305, ../sass/people.scss */
  .container .nav {
    padding: 0px 10px;
  }
  /* line 367, ../sass/people.scss */
  .container .nav .logo {
    height: 20px;
    width: 20px;
  }
  /* line 372, ../sass/people.scss */
  .container .nav .nav-item {
    padding: 0px 7px;
    font-size: 6pt;
  }
}
/* line 379, ../sass/people.scss */
.container .footer {
  height: 50px;
  background: #242424;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}
/* line 389, ../sass/people.scss */
.container .footer .footer-item {
  padding: 0px 10px;
  font-family: 'Open Sans';
  font-size: 9pt;
  opacity: 0.3;
}
/* line 397, ../sass/people.scss */
.container .section {
  min-height: 655px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1277px;
  margin: 0 auto;
}
@media (max-width: 667px) {
  /* line 397, ../sass/people.scss */
  .container .section {
    min-height: 0px;
  }
}
/* line 409, ../sass/people.scss */
.container .section.section-1 {
  position: relative;
  overflow: hidden;
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #fff;
  background-image: url("../images/section1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  max-width: 100%;
}
@media (max-width: 667px) {
  /* line 409, ../sass/people.scss */
  .container .section.section-1 {
    background-attachment: scroll;
  }
}
/* line 430, ../sass/people.scss */
.container .section.section-1 .section-1-texture {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  background-image: url("../images/section1pattern.png");
  background-size: auto;
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: 1;
  opacity: 0.25;
  width: 100%;
  height: 100%;
}
/* line 445, ../sass/people.scss */
.container .section.section-1 .section-1-card-wrapper {
  height: 500px;
  z-index: 2;
  opacity: 0.9;
  background-color: transparent;
  margin-bottom: 10vh;
}
/* line 453, ../sass/people.scss */
.container .section.section-1 .section-1-card {
  height: 500px;
  background-color: #fff;
  display: flex;
  opacity: 1;
  flex-direction: column;
  justify-content: space-around;
  animation: bringin 1.5s ease-out 0s 1 forwards;
}
@keyframes bringin {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 993px) {
  /* line 453, ../sass/people.scss */
  .container .section.section-1 .section-1-card {
    width: 638px;
  }
}
@media (max-width: 992px) {
  /* line 453, ../sass/people.scss */
  .container .section.section-1 .section-1-card {
    width: 496px;
  }
}
@media (max-width: 667px) {
  /* line 453, ../sass/people.scss */
  .container .section.section-1 .section-1-card {
    width: 333px;
  }
}
/* line 486, ../sass/people.scss */
.container .section.section-1 .section-1-card-title {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15%;
  margin-bottom: 0;
  color: #373737;
  font-family: Lulo;
  font-size: 20pt;
  line-height: 28pt;
  text-align: center;
}
/* line 500, ../sass/people.scss */
.container .section.section-1 .section-1-card-text {
  width: 80%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 10%;
  margin-top: 5%;
  text-align: center;
  color: #373737;
  font-size: 14pt;
  line-height: 21pt;
  font-family: 'Open Sans', Verdana, sans-serif;
  font-weight: 500;
}
/* line 517, ../sass/people.scss */
.container .section.section-2 {
  background: #fff;
  color: #373737;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  z-index: 2;
}
/* line 526, ../sass/people.scss */
.container .section.section-2 #section-2-a {
  background-image: url("../images/section2a.png");
}
/* line 529, ../sass/people.scss */
.container .section.section-2 #section-2-b {
  background-image: url("../images/section2b.png");
}
/* line 532, ../sass/people.scss */
.container .section.section-2 #section-2-c {
  background-image: url("../images/section2c.png");
}
/* line 536, ../sass/people.scss */
.container .section.section-2 #section-2-d {
  background-image: url("../images/section2d.png");
}
/* line 544, ../sass/people.scss */
.container .section.section-2 .left-trapezoid {
  -webkit-clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
  -webkit-backface-visibility: hidden;
  clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
  backface-visibility: hidden;
}
/* line 551, ../sass/people.scss */
.container .section.section-2 .right-trapezoid {
  -webkit-clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 90%);
  -webkit-backface-visibility: hidden;
  clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 90%);
  backface-visibility: hidden;
}
/* line 558, ../sass/people.scss */
.container .section.section-2 .sub-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 700px;
  width: 100%;
  background-attachment: fixed;
  background-position: "0px 0px";
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -75px;
}
@media (max-width: 667px) {
  /* line 558, ../sass/people.scss */
  .container .section.section-2 .sub-section {
    background-attachment: scroll;
  }
}
/* line 576, ../sass/people.scss */
.container .section.section-2 .sub-section:nth-child(even) {
  justify-content: flex-start;
}
/* line 579, ../sass/people.scss */
.container .section.section-2 .sub-section:nth-child(odd) {
  justify-content: flex-end;
}
/* line 584, ../sass/people.scss */
.container .section.section-2 .sub-section .section-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 50%;
  width: 40%;
  max-width: 700px;
  margin: 0;
  padding: 5vw;
  color: #fff;
}
@media (max-width: 992px) {
  /* line 584, ../sass/people.scss */
  .container .section.section-2 .sub-section .section-body {
    width: 100%;
    align-items: center;
    max-width: 100%;
  }
}
/* line 599, ../sass/people.scss */
.container .section.section-2 .sub-section .section-body h1 {
  font-family: Lulo;
  font-size: 16pt;
  line-height: 20pt;
}
/* line 604, ../sass/people.scss */
.container .section.section-2 .sub-section .section-body p {
  margin-top: 2.5%;
  font-family: 'Open Sans', Verdana, sans-serif;
  font-size: 14pt;
  line-height: 21pt;
}
/* line 616, ../sass/people.scss */
.container .section.section-3 {
  background: #fff;
  color: #373737;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 50px 0px;
}
/* line 624, ../sass/people.scss */
.container .section.section-3 .header {
  display: flex;
  flex-direction: column;
  margin: 50px 0px;
}
/* line 630, ../sass/people.scss */
.container .section.section-3 .sub-section {
  display: flex;
  flex-direction: row;
  text-align: left;
  max-width: 900px;
  margin: 50px auto;
  min-height: 200px;
}
/* line 638, ../sass/people.scss */
.container .section.section-3 .sub-section .icon {
  width: 7%;
  height: 40px;
  padding: 0px 5px;
  color: #373737;
  display: flex;
  justify-content: center;
}
/* line 647, ../sass/people.scss */
.container .section.section-3 .sub-section .section-text {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 0px 5px;
}
/* line 653, ../sass/people.scss */
.container .section.section-3 .sub-section .section-text .section-header {
  padding: 0px 5px;
  font-size: 20pt;
  padding-bottom: 8px;
}
/* line 659, ../sass/people.scss */
.container .section.section-3 .sub-section .section-text .section-body {
  display: flex;
  flex-direction: column;
  padding: 0px 35px 0px 5px;
  font-size: 14pt;
  line-height: 21pt;
}
/* line 666, ../sass/people.scss */
.container .section.section-3 .sub-section .section-text .section-body span {
  padding: 8px 0px;
}
/* line 672, ../sass/people.scss */
.container .section.section-3 .sub-section .section-bullets {
  display: flex;
  flex-direction: column;
  width: 23%;
  max-width: 23%;
  padding: 15px;
  padding-left: 20px;
  border-left: 1px solid #b6b6b6;
  line-height: 27px;
  height: 25vh;
  font-size: 8.5pt;
  justify-content: center;
  font-weight: 400;
  position: relative;
}
/* line 687, ../sass/people.scss */
.container .section.section-3 .sub-section .section-bullets .bullet-title {
  font-family: Lulo;
  letter-spacing: -1px;
  font-weight: 100;
}
/* line 693, ../sass/people.scss */
.container .section.section-3 .sub-section .section-bullets .bullet {
  position: absolute;
  left: 45px;
  opacity: .7;
  text-transform: uppercase;
}
/* line 705, ../sass/people.scss */
.container .section.section-3 .sub-section:nth-child(1) .bullet:nth-child(1) {
  top: 20px;
  animation: marginx 400ms 0.25s ease forwards;
}
@media (max-width: 667px) {
  /* line 705, ../sass/people.scss */
  .container .section.section-3 .sub-section:nth-child(1) .bullet:nth-child(1) {
    top: 15px;
  }
}
/* line 705, ../sass/people.scss */
.container .section.section-3 .sub-section:nth-child(1) .bullet:nth-child(2) {
  top: 50px;
  animation: marginx 400ms 0.3s ease forwards;
}
@media (max-width: 667px) {
  /* line 705, ../sass/people.scss */
  .container .section.section-3 .sub-section:nth-child(1) .bullet:nth-child(2) {
    top: 40px;
  }
}
/* line 705, ../sass/people.scss */
.container .section.section-3 .sub-section:nth-child(1) .bullet:nth-child(3) {
  top: 80px;
  animation: marginx 400ms 0.35s ease forwards;
}
@media (max-width: 667px) {
  /* line 705, ../sass/people.scss */
  .container .section.section-3 .sub-section:nth-child(1) .bullet:nth-child(3) {
    top: 65px;
  }
}
/* line 705, ../sass/people.scss */
.container .section.section-3 .sub-section:nth-child(1) .bullet:nth-child(4) {
  top: 110px;
  animation: marginx 400ms 0.4s ease forwards;
}
@media (max-width: 667px) {
  /* line 705, ../sass/people.scss */
  .container .section.section-3 .sub-section:nth-child(1) .bullet:nth-child(4) {
    top: 90px;
  }
}
/* line 705, ../sass/people.scss */
.container .section.section-3 .sub-section:nth-child(1) .bullet:nth-child(5) {
  top: 140px;
  animation: marginx 400ms 0.45s ease forwards;
}
@media (max-width: 667px) {
  /* line 705, ../sass/people.scss */
  .container .section.section-3 .sub-section:nth-child(1) .bullet:nth-child(5) {
    top: 115px;
  }
}
/* line 705, ../sass/people.scss */
.container .section.section-3 .sub-section:nth-child(1) .bullet:nth-child(6) {
  top: 170px;
  animation: marginx 400ms 0.5s ease forwards;
}
@media (max-width: 667px) {
  /* line 705, ../sass/people.scss */
  .container .section.section-3 .sub-section:nth-child(1) .bullet:nth-child(6) {
    top: 140px;
  }
}
/* line 705, ../sass/people.scss */
.container .section.section-3 .sub-section:nth-child(2) .bullet:nth-child(1) {
  top: 20px;
  animation: marginx 400ms 0.45s ease forwards;
}
@media (max-width: 667px) {
  /* line 705, ../sass/people.scss */
  .container .section.section-3 .sub-section:nth-child(2) .bullet:nth-child(1) {
    top: 15px;
  }
}
/* line 705, ../sass/people.scss */
.container .section.section-3 .sub-section:nth-child(2) .bullet:nth-child(2) {
  top: 50px;
  animation: marginx 400ms 0.5s ease forwards;
}
@media (max-width: 667px) {
  /* line 705, ../sass/people.scss */
  .container .section.section-3 .sub-section:nth-child(2) .bullet:nth-child(2) {
    top: 40px;
  }
}
/* line 705, ../sass/people.scss */
.container .section.section-3 .sub-section:nth-child(2) .bullet:nth-child(3) {
  top: 80px;
  animation: marginx 400ms 0.55s ease forwards;
}
@media (max-width: 667px) {
  /* line 705, ../sass/people.scss */
  .container .section.section-3 .sub-section:nth-child(2) .bullet:nth-child(3) {
    top: 65px;
  }
}
/* line 705, ../sass/people.scss */
.container .section.section-3 .sub-section:nth-child(2) .bullet:nth-child(4) {
  top: 110px;
  animation: marginx 400ms 0.6s ease forwards;
}
@media (max-width: 667px) {
  /* line 705, ../sass/people.scss */
  .container .section.section-3 .sub-section:nth-child(2) .bullet:nth-child(4) {
    top: 90px;
  }
}
/* line 705, ../sass/people.scss */
.container .section.section-3 .sub-section:nth-child(2) .bullet:nth-child(5) {
  top: 140px;
  animation: marginx 400ms 0.65s ease forwards;
}
@media (max-width: 667px) {
  /* line 705, ../sass/people.scss */
  .container .section.section-3 .sub-section:nth-child(2) .bullet:nth-child(5) {
    top: 115px;
  }
}
/* line 705, ../sass/people.scss */
.container .section.section-3 .sub-section:nth-child(2) .bullet:nth-child(6) {
  top: 170px;
  animation: marginx 400ms 0.7s ease forwards;
}
@media (max-width: 667px) {
  /* line 705, ../sass/people.scss */
  .container .section.section-3 .sub-section:nth-child(2) .bullet:nth-child(6) {
    top: 140px;
  }
}
/* line 705, ../sass/people.scss */
.container .section.section-3 .sub-section:nth-child(3) .bullet:nth-child(1) {
  top: 20px;
  animation: marginx 400ms 0.65s ease forwards;
}
@media (max-width: 667px) {
  /* line 705, ../sass/people.scss */
  .container .section.section-3 .sub-section:nth-child(3) .bullet:nth-child(1) {
    top: 15px;
  }
}
/* line 705, ../sass/people.scss */
.container .section.section-3 .sub-section:nth-child(3) .bullet:nth-child(2) {
  top: 50px;
  animation: marginx 400ms 0.7s ease forwards;
}
@media (max-width: 667px) {
  /* line 705, ../sass/people.scss */
  .container .section.section-3 .sub-section:nth-child(3) .bullet:nth-child(2) {
    top: 40px;
  }
}
/* line 705, ../sass/people.scss */
.container .section.section-3 .sub-section:nth-child(3) .bullet:nth-child(3) {
  top: 80px;
  animation: marginx 400ms 0.75s ease forwards;
}
@media (max-width: 667px) {
  /* line 705, ../sass/people.scss */
  .container .section.section-3 .sub-section:nth-child(3) .bullet:nth-child(3) {
    top: 65px;
  }
}
/* line 705, ../sass/people.scss */
.container .section.section-3 .sub-section:nth-child(3) .bullet:nth-child(4) {
  top: 110px;
  animation: marginx 400ms 0.8s ease forwards;
}
@media (max-width: 667px) {
  /* line 705, ../sass/people.scss */
  .container .section.section-3 .sub-section:nth-child(3) .bullet:nth-child(4) {
    top: 90px;
  }
}
/* line 705, ../sass/people.scss */
.container .section.section-3 .sub-section:nth-child(3) .bullet:nth-child(5) {
  top: 140px;
  animation: marginx 400ms 0.85s ease forwards;
}
@media (max-width: 667px) {
  /* line 705, ../sass/people.scss */
  .container .section.section-3 .sub-section:nth-child(3) .bullet:nth-child(5) {
    top: 115px;
  }
}
/* line 705, ../sass/people.scss */
.container .section.section-3 .sub-section:nth-child(3) .bullet:nth-child(6) {
  top: 170px;
  animation: marginx 400ms 0.9s ease forwards;
}
@media (max-width: 667px) {
  /* line 705, ../sass/people.scss */
  .container .section.section-3 .sub-section:nth-child(3) .bullet:nth-child(6) {
    top: 140px;
  }
}
@keyframes marginx {
  100% {
    left: 20px;
    opacity: 1;
  }
}
@media (max-width: 992px) {
  /* line 726, ../sass/people.scss */
  .container .section.section-3 .sub-section {
    flex-direction: column;
    height: unset;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
  /* line 733, ../sass/people.scss */
  .container .section.section-3 .sub-section .section-bullets {
    width: 70%;
    max-width: none;
    border-left: 0;
    border-top: 1px solid #b6b6b6;
    margin-top: 25px;
  }
  /* line 741, ../sass/people.scss */
  .container .section.section-3 .sub-section .section-body.body-text {
    padding-right: 0;
  }
}
/* line 748, ../sass/people.scss */
.container .section.section-4 {
  background: #fff;
  color: #373737;
  display: flex;
  flex-direction: column;
  height: 850px;
  width: 100%;
  z-index: 2;
}
/* line 757, ../sass/people.scss */
.container .section.section-4 .sub-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: url("../images/mikewest.jpg");
  background-attachment: fixed;
  background-position: left 50px;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 992px) {
  /* line 757, ../sass/people.scss */
  .container .section.section-4 .sub-section {
    flex-direction: column;
    justify-content: space-around;
  }
}
@media (max-width: 667px) {
  /* line 757, ../sass/people.scss */
  .container .section.section-4 .sub-section {
    background-attachment: scroll;
    background-position: left center;
  }
}
/* line 781, ../sass/people.scss */
.container .section.section-4 .section-4-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* line 789, ../sass/people.scss */
.container .section.section-4 #section-4-img-container {
  width: 574px;
}
/* line 791, ../sass/people.scss */
.container .section.section-4 #section-4-img-container img {
  width: 100%;
}
@media (max-width: 992px) {
  /* line 789, ../sass/people.scss */
  .container .section.section-4 #section-4-img-container {
    width: 416px;
    height: 300px;
    max-width: 100vw;
  }
}
/* line 800, ../sass/people.scss */
.container .section.section-4 #section-4-text-container {
  flex: 1;
  padding: 3%;
  margin-right: 3vw;
}
/* line 804, ../sass/people.scss */
.container .section.section-4 #section-4-text-container h1 {
  font-family: Lulo;
  font-size: 16pt;
  color: #fff;
  margin-bottom: 2.5vh;
}
/* line 810, ../sass/people.scss */
.container .section.section-4 #section-4-text-container p {
  margin-top: 2.5vh;
  font-family: 'Open Sans', Verdana, sans-serif;
  font-size: 14pt;
  line-height: 21pt;
  font-weight: 100;
  color: #fff;
}
@media (max-width: 992px) {
  /* line 800, ../sass/people.scss */
  .container .section.section-4 #section-4-text-container {
    padding-top: 0;
    margin: 0;
  }
}
/* line 826, ../sass/people.scss */
.container .section.section-5 {
  max-width: 100vw;
  text-align: center;
  min-height: 420px;
  height: 100px;
  color: #fff;
  background-color: #262629;
  background: linear-gradient(to right, #202023 0%, #202023 15%, #27272f 35%, #202023 85%, #202023 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin-top: -50px;
}
/* line 841, ../sass/people.scss */
.container .section.section-5 .inner-container {
  margin-top: 50px;
  align-self: center;
}
/* line 846, ../sass/people.scss */
.container .section.section-5 .header {
  font-size: 20pt;
  margin: 10px 0px 15px;
}
@media (max-width: 667px) {
  /* line 846, ../sass/people.scss */
  .container .section.section-5 .header {
    font-size: 17pt;
    padding: 0 25px;
  }
}
/* line 856, ../sass/people.scss */
.container .section.section-5 button {
  width: 280px;
  border: 1px solid #fff;
  height: 60px;
  border-radius: 0;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  outline: none;
  font-family: 'Open Sans', Verdana, sans-serif;
  margin: 25px 0px;
  font-size: 9pt;
  font-weight: 100;
  cursor: pointer;
}

/* line 875, ../sass/people.scss */
.mobile-indicator {
  display: none;
  position: fixed;
  width: 1px;
  height: 1px;
  background-color: transparent;
}
@media (max-width: 667px) {
  /* line 875, ../sass/people.scss */
  .mobile-indicator {
    display: block;
  }
}
