/* line 5, ../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: Lulo;
  src: url("../fonts/lulo/LuloCleanOneBold.otf");
}
/* line 61, ../sass/people.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 66, ../sass/people.scss */
.overlay-container {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 4;
  overflow: hidden;
}
@media (max-width: 667px) {
  /* line 66, ../sass/people.scss */
  .overlay-container {
    z-index: 6;
  }
}
/* line 82, ../sass/people.scss */
.overlay-container .overlay {
  background: transparent;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  cursor: pointer;
  transition: all 400ms ease;
}
/* line 93, ../sass/people.scss */
.overlay-container .contact-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fff;
  height: 600px;
  margin-top: 50px;
  z-index: 5;
  border-radius: 3px;
  box-shadow: none;
  transition: all 400ms ease;
}
@media (min-width: 993px) {
  /* line 93, ../sass/people.scss */
  .overlay-container .contact-card {
    width: 800px;
  }
}
@media (max-width: 992px) {
  /* line 93, ../sass/people.scss */
  .overlay-container .contact-card {
    overflow-y: scroll;
  }
}
@media (max-width: 667px) {
  /* line 93, ../sass/people.scss */
  .overlay-container .contact-card {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 7;
    margin-top: 0;
  }
}
/* line 122, ../sass/people.scss */
.overlay-container .contact-card h1 {
  font-family: Lulo;
  font-size: 16pt;
  color: #373737;
  padding-bottom: 15px;
  line-height: 21pt;
}
/* line 130, ../sass/people.scss */
.overlay-container .contact-card .close {
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 10px;
  font-family: 'Open Sans', Verdana, sans-serif;
  font-size: 18pt;
  color: white;
}
@media (max-width: 992px) {
  /* line 130, ../sass/people.scss */
  .overlay-container .contact-card .close {
    color: #373737;
  }
}
@media (max-width: 667px) {
  /* line 130, ../sass/people.scss */
  .overlay-container .contact-card .close {
    top: 30px;
  }
}
/* line 146, ../sass/people.scss */
.overlay-container .contact-card .content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
@media (max-width: 992px) {
  /* line 146, ../sass/people.scss */
  .overlay-container .contact-card .content-container {
    flex-direction: column;
    height: auto;
  }
}
/* line 159, ../sass/people.scss */
.overlay-container .contact-card .info-box {
  padding: 35px;
}
/* line 162, ../sass/people.scss */
.overlay-container .contact-card .info-box:nth-child(2) {
  padding: 35px;
  background-color: #00c4ff;
}
/* line 165, ../sass/people.scss */
.overlay-container .contact-card .info-box:nth-child(2) h1 {
  color: white;
}
/* line 170, ../sass/people.scss */
.overlay-container .contact-card .info-box p {
  font-family: 'Open Sans', Verdana, sans-serif;
  font-size: 12pt;
  line-height: 18pt;
}
/* line 175, ../sass/people.scss */
.overlay-container .contact-card .info-box ul {
  margin-top: 15px;
  list-style-type: circle;
}
/* line 179, ../sass/people.scss */
.overlay-container .contact-card .info-box li {
  margin-left: 25px;
}
/* line 183, ../sass/people.scss */
.overlay-container .contact-card .info-box form {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
/* line 189, ../sass/people.scss */
.overlay-container .contact-card .info-box form input, .overlay-container .contact-card .info-box form select {
  font-family: 'Open Sans', Verdana, sans-serif;
  padding-left: 15px;
  border-radius: 3px;
  border: 0;
  width: 100%;
  height: 45px;
  max-width: 300px;
  margin: 10px 0;
}
/* line 199, ../sass/people.scss */
.overlay-container .contact-card .info-box form select {
  padding: 0;
  padding-left: 10px;
}
/* line 203, ../sass/people.scss */
.overlay-container .contact-card .info-box form input {
  max-width: 285px;
}
/* line 206, ../sass/people.scss */
.overlay-container .contact-card .info-box form button {
  width: 50%;
  width: 295px;
  border: 0;
  height: 50px;
  border-radius: 0;
  background: #007699;
  color: #fff;
  text-transform: uppercase;
  outline: none;
  font-family: 'Open Sans', Verdana, sans-serif;
  margin: 10px auto;
  font-size: 9pt;
  font-weight: 100;
  cursor: pointer;
  border-radius: 3px;
}
/* line 225, ../sass/people.scss */
.overlay-container .contact-card .info-box .status-container {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}
/* line 233, ../sass/people.scss */
.overlay-container .contact-card .info-box .status-container .pending-item {
  font-size: 30pt;
  margin: 0 5px;
}
@keyframes pending {
  0% {
    color: white;
  }
  50% {
    color: #262629;
  }
  100% {
    color: white;
  }
}
/* line 244, ../sass/people.scss */
.overlay-container .contact-card .info-box .status-container .pending-item.pending-item-1 {
  animation: pending 2s linear 0s infinite;
}
/* line 244, ../sass/people.scss */
.overlay-container .contact-card .info-box .status-container .pending-item.pending-item-2 {
  animation: pending 2s linear 0.2s infinite;
}
/* line 244, ../sass/people.scss */
.overlay-container .contact-card .info-box .status-container .pending-item.pending-item-3 {
  animation: pending 2s linear 0.4s infinite;
}
/* line 250, ../sass/people.scss */
.overlay-container .contact-card .info-box .status-container .error {
  color: #cc0000;
}
/* line 258, ../sass/people.scss */
.overlay-container.show {
  display: flex;
}
/* line 261, ../sass/people.scss */
.overlay-container.show .overlay {
  background: rgba(0, 0, 0, 0.65);
}
/* line 265, ../sass/people.scss */
.overlay-container.show .contact-card {
  opacity: 1;
  box-shadow: 0px 2px 15px -4px rgba(0, 0, 0, 0.5);
}

/* line 272, ../sass/people.scss */
.container {
  font-family: 'Open Sans', Verdana, sans-serif;
  line-height: 18pt;
  font-weight: 100;
  background: #f8f8f8;
  overflow: hidden;
}
/* line 279, ../sass/people.scss */
.container .pdf {
  margin: 75px auto;
  max-width: 800px;
}
/* line 283, ../sass/people.scss */
.container .pdf .divider {
  height: 10px;
}
/* line 287, ../sass/people.scss */
.container .pdf ul {
  list-style: unset;
  margin-left: 40px;
}
/* line 292, ../sass/people.scss */
.container .pdf ol {
  margin-left: 20px;
}
/* line 296, ../sass/people.scss */
.container .pdf .rick {
  text-decoration: underline;
}
@media (max-width: 992px) {
  /* line 279, ../sass/people.scss */
  .container .pdf {
    padding: 20px;
    margin-top: 10px;
  }
}
/* line 306, ../sass/people.scss */
.container .body-logo-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 40px;
}
/* line 312, ../sass/people.scss */
.container .body-logo-container .body-logo {
  background-image: url("../images/black_logo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 80px;
  width: 80px;
}
/* line 321, ../sass/people.scss */
.container .header {
  text-transform: uppercase;
  font-family: Lulo;
  font-size: 20pt;
  letter-spacing: 0px;
  margin: 10px 0px 15px;
  line-height: 25pt;
}
@media (max-width: 667px) {
  /* line 321, ../sass/people.scss */
  .container .header {
    font-size: 17pt;
    padding: 0 25px;
  }
}
/* line 334, ../sass/people.scss */
.container .header.margin {
  margin-bottom: 0px;
}
@media (max-width: 667px) {
  /* line 334, ../sass/people.scss */
  .container .header.margin {
    padding: 0px;
  }
}
/* line 343, ../sass/people.scss */
.container .sub-header {
  font-family: 'Open Sans', Verdana, sans-serif;
  font-size: 16pt;
  font-weight: 300;
}
/* line 348, ../sass/people.scss */
.container .sub-header.margin {
  margin: 45px 0px 10px;
}
/* line 353, ../sass/people.scss */
.container .body-text {
  font-family: 'Open Sans', Verdana, sans-serif;
  font-size: 14pt;
  font-weight: 300;
  line-height: 18pt;
  color: #555;
}
/* line 361, ../sass/people.scss */
.container .sub-text {
  font-family: 'Open Sans', Verdana, sans-serif;
  font-size: 8pt;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 0.3;
}
/* line 369, ../sass/people.scss */
.container .quote {
  font-size: 10pt;
  line-height: 15pt;
  color: #555;
  font-style: italic;
  align-self: center;
  margin-top: 25px;
}
/* line 378, ../sass/people.scss */
.container .nav {
  height: 50px;
  background-color: #262629;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 18px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 5;
}
@media (max-width: 355px) {
  /* line 378, ../sass/people.scss */
  .container .nav {
    justify-content: center;
  }
}
/* line 400, ../sass/people.scss */
.container .nav .logo {
  height: 27px;
  width: auto;
  cursor: pointer;
  font-family: Lulo;
  font-size: 8pt;
  color: #fff;
}
@media (max-width: 667px) {
  /* line 400, ../sass/people.scss */
  .container .nav .logo {
    background-image: url("../images/eyecue_logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 27px;
  }
}
@media (max-width: 355px) {
  /* line 400, ../sass/people.scss */
  .container .nav .logo {
    display: none;
  }
}
/* line 419, ../sass/people.scss */
.container .nav .nav-item {
  padding: 0px 10px;
  text-transform: uppercase;
  font-family: Lulo;
  font-size: 8pt;
  cursor: pointer;
  opacity: .5;
  user-select: none;
}
/* line 428, ../sass/people.scss */
.container .nav .nav-item:last-child {
  padding-right: 0px;
}
/* line 432, ../sass/people.scss */
.container .nav .nav-item.active {
  opacity: 1;
}
@media (max-width: 667px) {
  /* line 378, ../sass/people.scss */
  .container .nav {
    padding: 0px 10px;
  }
  /* line 440, ../sass/people.scss */
  .container .nav .logo {
    height: 20px;
    width: 20px;
  }
  /* line 445, ../sass/people.scss */
  .container .nav .nav-item {
    padding: 0px 7px;
    font-size: 6pt;
  }
}
/* line 452, ../sass/people.scss */
.container .footer {
  height: 50px;
  background: #242424;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}
/* line 462, ../sass/people.scss */
.container .footer .footer-item {
  padding: 0px 10px;
  font-family: 'Open Sans';
  font-size: 9pt;
  opacity: 0.3;
}
/* line 470, ../sass/people.scss */
.container .section {
  min-height: 655px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1277px;
  margin: 0 auto;
}
@media (max-width: 667px) {
  /* line 470, ../sass/people.scss */
  .container .section {
    min-height: 0px;
  }
}
/* line 482, ../sass/people.scss */
.container .section.section-1 {
  position: relative;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #fff;
  background-image: url("../images/section1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  max-width: 100%;
}
@media (max-width: 667px) {
  /* line 482, ../sass/people.scss */
  .container .section.section-1 {
    background-attachment: scroll;
  }
}
/* line 503, ../sass/people.scss */
.container .section.section-1 .img-filter {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  background-image: url("../images/section1pattern.png");
  background-size: auto;
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: 1;
  opacity: 0.25;
  width: 100%;
  height: 100%;
}
/* line 518, ../sass/people.scss */
.container .section.section-1 .section-1-card-wrapper {
  height: 500px;
  z-index: 2;
  opacity: 0.95;
  background-color: transparent;
  margin-bottom: 10vh;
}
@media (max-width: 667px) {
  /* line 518, ../sass/people.scss */
  .container .section.section-1 .section-1-card-wrapper {
    position: absolute;
    top: 50px;
    left: 0;
    height: 100%;
    width: 100%;
  }
}
/* line 534, ../sass/people.scss */
.container .section.section-1 .section-1-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 500px;
  background-color: #fff;
  opacity: 1;
  border-radius: 3px;
  animation: bringin 1.5s ease-out 0s 1 forwards;
}
@keyframes bringin {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 993px) {
  /* line 534, ../sass/people.scss */
  .container .section.section-1 .section-1-card {
    width: 638px;
  }
}
@media (max-width: 992px) {
  /* line 534, ../sass/people.scss */
  .container .section.section-1 .section-1-card {
    width: 496px;
  }
}
@media (max-width: 667px) {
  /* line 534, ../sass/people.scss */
  .container .section.section-1 .section-1-card {
    width: 100%;
    height: 85%;
  }
}
/* line 568, ../sass/people.scss */
.container .section.section-1 .section-1-card-title {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15%;
  margin-bottom: 0;
  color: #373737;
  font-family: Lulo;
  font-size: 20pt;
  line-height: 28pt;
  text-align: center;
}
/* line 582, ../sass/people.scss */
.container .section.section-1 .section-1-card-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  height: 50%;
  margin: 5% 10%;
  text-align: center;
  color: #373737;
  font-size: 14pt;
  line-height: 21pt;
  font-family: 'Open Sans', Verdana, sans-serif;
  font-weight: 500;
}
/* line 597, ../sass/people.scss */
.container .section.section-1 .section-1-card-text button {
  display: block;
  width: 200px;
  height: 50px;
  border-radius: 3px;
  background-color: #262629;
  color: #fff;
  text-transform: uppercase;
  outline: none;
  font-family: 'Open Sans', Verdana, sans-serif;
  align-self: center;
  font-size: 9pt;
  font-weight: 100;
  cursor: pointer;
}
/* line 614, ../sass/people.scss */
.container .section.section-1 .scroll-button {
  z-index: 3;
  bottom: 8%;
  height: 37px;
  width: 25px;
  background: white;
  border-radius: 7px;
  position: absolute;
  outline: none;
  cursor: pointer;
  justify-content: center;
  border: none;
  display: flex;
  opacity: 0;
  overflow: hidden;
  transition: all 400ms ease;
  animation: fade-in 400ms 3s ease forwards;
}
@media (max-width: 667px) {
  /* line 614, ../sass/people.scss */
  .container .section.section-1 .scroll-button {
    bottom: 8%;
  }
}
/* line 636, ../sass/people.scss */
.container .section.section-1 .scroll-button:hover, .container .section.section-1 .scroll-button:active {
  background: #e6e6e6;
}
/* line 640, ../sass/people.scss */
.container .section.section-1 .scroll-button:before {
  -webkit-transform: translate3d(0, 0, 0);
  content: '\25BC';
  position: absolute;
  top: -15px;
  left: 0px;
  right: 0px;
  animation: arrows 1.2s 3.33s ease infinite;
}
@keyframes fade-in {
  100% {
    opacity: 1;
  }
}
@keyframes arrows {
  0%, 30% {
    top: 8px;
  }
  35%, 65% {
    top: 13px;
  }
  70%, 100% {
    top: 18px;
  }
}
/* line 668, ../sass/people.scss */
.container .section.section-2 {
  background: #fff;
  color: #373737;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  z-index: 2;
}
/* line 677, ../sass/people.scss */
.container .section.section-2 #section-2-a {
  background-image: url("../images/section2a.png");
  border-radius: 3px 3px 0 0;
}
/* line 681, ../sass/people.scss */
.container .section.section-2 #section-2-b {
  background-image: url("../images/section2b.png");
}
/* line 684, ../sass/people.scss */
.container .section.section-2 #section-2-c {
  background-image: url("../images/section2c.png");
}
/* line 688, ../sass/people.scss */
.container .section.section-2 #section-2-d {
  background-image: url("../images/section2d.png");
}
/* line 696, ../sass/people.scss */
.container .section.section-2 .left-trapezoid {
  -webkit-clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
  -webkit-backface-visibility: hidden;
  clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
  backface-visibility: hidden;
}
/* line 703, ../sass/people.scss */
.container .section.section-2 .right-trapezoid {
  -webkit-clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 90%);
  -webkit-backface-visibility: hidden;
  clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 90%);
  backface-visibility: hidden;
}
/* line 710, ../sass/people.scss */
.container .section.section-2 .sub-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 700px;
  width: 100%;
  background-attachment: fixed;
  background-position: "0px 0px";
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -75px;
}
@media (max-width: 667px) {
  /* line 710, ../sass/people.scss */
  .container .section.section-2 .sub-section {
    background-attachment: scroll;
  }
}
/* line 727, ../sass/people.scss */
.container .section.section-2 .sub-section:nth-child(even) {
  justify-content: flex-start;
}
/* line 729, ../sass/people.scss */
.container .section.section-2 .sub-section:nth-child(even) .section-body {
  margin-left: 60px;
}
@media (max-width: 992px) {
  /* line 729, ../sass/people.scss */
  .container .section.section-2 .sub-section:nth-child(even) .section-body {
    margin-left: 0;
  }
}
/* line 736, ../sass/people.scss */
.container .section.section-2 .sub-section:nth-child(odd) {
  justify-content: flex-end;
}
/* line 741, ../sass/people.scss */
.container .section.section-2 .sub-section .section-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 50%;
  width: 40%;
  max-width: 700px;
  margin: 0;
  padding: 5vw;
  color: #fff;
}
@media (max-width: 992px) {
  /* line 741, ../sass/people.scss */
  .container .section.section-2 .sub-section .section-body {
    width: 100%;
    max-width: 100%;
  }
}
/* line 755, ../sass/people.scss */
.container .section.section-2 .sub-section .section-body h1 {
  font-family: Lulo;
  font-size: 16pt;
  line-height: 20pt;
}
/* line 760, ../sass/people.scss */
.container .section.section-2 .sub-section .section-body p {
  margin-top: 2.5%;
  font-family: 'Open Sans', Verdana, sans-serif;
  font-size: 14pt;
  line-height: 21pt;
}
/* line 772, ../sass/people.scss */
.container .section.section-3 {
  background: #fff;
  color: #373737;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 50px 0px;
}
/* line 780, ../sass/people.scss */
.container .section.section-3 .block-quote {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  min-height: 150px;
  background-color: #f8f8f8;
  border-radius: 3px;
  -webkit-box-shadow: 2px 2px 3px 0px rgba(38, 38, 41, 0.5);
  -moz-box-shadow: 2px 2px 3px 0px rgba(38, 38, 41, 0.5);
  box-shadow: 2px 2px 3px 0px rgba(38, 38, 41, 0.5);
  padding: 10px 20px;
}
/* line 795, ../sass/people.scss */
.container .section.section-3 .block-quote .quotes {
  position: absolute;
  color: #c5c5c5;
  font-size: 36pt;
  font-family: Arial, Helvetica, sans-serif;
}
/* line 801, ../sass/people.scss */
.container .section.section-3 .block-quote .open-quote {
  top: 20px;
  left: 10px;
}
/* line 805, ../sass/people.scss */
.container .section.section-3 .block-quote .close-quote {
  bottom: 0;
  right: 10px;
}
/* line 810, ../sass/people.scss */
.container .section.section-3 .block-quote .quote-text {
  margin: 10px 0;
  font-family: 'Open Sans', Verdana, sans-serif;
}
/* line 814, ../sass/people.scss */
.container .section.section-3 .block-quote .author {
  align-self: flex-end;
  margin-right: 20px;
}
/* line 821, ../sass/people.scss */
.container .section.section-3 button {
  display: block;
  width: 200px;
  height: 50px;
  border-radius: 3px;
  background-color: #262629;
  color: #fff;
  text-transform: uppercase;
  outline: none;
  font-family: 'Open Sans', Verdana, sans-serif;
  align-self: center;
  font-size: 9pt;
  font-weight: 100;
  cursor: pointer;
}
/* line 837, ../sass/people.scss */
.container .section.section-3 .header {
  display: flex;
  flex-direction: column;
  margin: 50px 0px;
}
/* line 843, ../sass/people.scss */
.container .section.section-3 .sub-section {
  display: flex;
  flex-direction: row;
  text-align: left;
  max-width: 900px;
  margin: 50px auto;
  min-height: 200px;
}
/* line 851, ../sass/people.scss */
.container .section.section-3 .sub-section .section-text {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 0px 5px;
}
/* line 857, ../sass/people.scss */
.container .section.section-3 .sub-section .section-text .section-header {
  padding: 0px 5px;
  font-size: 20pt;
  padding-bottom: 8px;
}
/* line 863, ../sass/people.scss */
.container .section.section-3 .sub-section .section-text .section-body {
  display: flex;
  flex-direction: column;
  padding: 0px 35px 0px 5px;
  font-size: 14pt;
  line-height: 21pt;
}
/* line 870, ../sass/people.scss */
.container .section.section-3 .sub-section .section-text .section-body span {
  padding: 8px 0px;
}
/* line 876, ../sass/people.scss */
.container .section.section-3 .sub-section .section-bullets {
  display: flex;
  flex-direction: column;
  width: 23%;
  max-width: 23%;
  padding: 15px;
  padding-left: 20px;
  border-left: 1px solid #b6b6b6;
  line-height: 27px;
  height: 200px;
  font-size: 8.5pt;
  justify-content: center;
  font-weight: 400;
  position: relative;
}
/* line 891, ../sass/people.scss */
.container .section.section-3 .sub-section .section-bullets .bullet-title {
  font-family: Lulo;
  letter-spacing: -1px;
  font-weight: 100;
}
/* line 897, ../sass/people.scss */
.container .section.section-3 .sub-section .section-bullets .bullet {
  position: absolute;
  left: 45px;
  opacity: .7;
  text-transform: uppercase;
}
/* line 909, ../sass/people.scss */
.container .section.section-3 .sub-section:nth-child(1) .bullet:nth-child(1) {
  top: 20px;
  animation: marginx 400ms 0.25s ease forwards;
}
@media (max-width: 667px) {
  /* line 909, ../sass/people.scss */
  .container .section.section-3 .sub-section:nth-child(1) .bullet:nth-child(1) {
    top: 15px;
  }
}
/* line 909, ../sass/people.scss */
.container .section.section-3 .sub-section:nth-child(1) .bullet:nth-child(2) {
  top: 50px;
  animation: marginx 400ms 0.3s ease forwards;
}
@media (max-width: 667px) {
  /* line 909, ../sass/people.scss */
  .container .section.section-3 .sub-section:nth-child(1) .bullet:nth-child(2) {
    top: 40px;
  }
}
/* line 909, ../sass/people.scss */
.container .section.section-3 .sub-section:nth-child(1) .bullet:nth-child(3) {
  top: 80px;
  animation: marginx 400ms 0.35s ease forwards;
}
@media (max-width: 667px) {
  /* line 909, ../sass/people.scss */
  .container .section.section-3 .sub-section:nth-child(1) .bullet:nth-child(3) {
    top: 65px;
  }
}
/* line 909, ../sass/people.scss */
.container .section.section-3 .sub-section:nth-child(1) .bullet:nth-child(4) {
  top: 110px;
  animation: marginx 400ms 0.4s ease forwards;
}
@media (max-width: 667px) {
  /* line 909, ../sass/people.scss */
  .container .section.section-3 .sub-section:nth-child(1) .bullet:nth-child(4) {
    top: 90px;
  }
}
/* line 909, ../sass/people.scss */
.container .section.section-3 .sub-section:nth-child(1) .bullet:nth-child(5) {
  top: 140px;
  animation: marginx 400ms 0.45s ease forwards;
}
@media (max-width: 667px) {
  /* line 909, ../sass/people.scss */
  .container .section.section-3 .sub-section:nth-child(1) .bullet:nth-child(5) {
    top: 115px;
  }
}
/* line 909, ../sass/people.scss */
.container .section.section-3 .sub-section:nth-child(1) .bullet:nth-child(6) {
  top: 170px;
  animation: marginx 400ms 0.5s ease forwards;
}
@media (max-width: 667px) {
  /* line 909, ../sass/people.scss */
  .container .section.section-3 .sub-section:nth-child(1) .bullet:nth-child(6) {
    top: 140px;
  }
}
/* line 909, ../sass/people.scss */
.container .section.section-3 .sub-section:nth-child(2) .bullet:nth-child(1) {
  top: 20px;
  animation: marginx 400ms 0.45s ease forwards;
}
@media (max-width: 667px) {
  /* line 909, ../sass/people.scss */
  .container .section.section-3 .sub-section:nth-child(2) .bullet:nth-child(1) {
    top: 15px;
  }
}
/* line 909, ../sass/people.scss */
.container .section.section-3 .sub-section:nth-child(2) .bullet:nth-child(2) {
  top: 50px;
  animation: marginx 400ms 0.5s ease forwards;
}
@media (max-width: 667px) {
  /* line 909, ../sass/people.scss */
  .container .section.section-3 .sub-section:nth-child(2) .bullet:nth-child(2) {
    top: 40px;
  }
}
/* line 909, ../sass/people.scss */
.container .section.section-3 .sub-section:nth-child(2) .bullet:nth-child(3) {
  top: 80px;
  animation: marginx 400ms 0.55s ease forwards;
}
@media (max-width: 667px) {
  /* line 909, ../sass/people.scss */
  .container .section.section-3 .sub-section:nth-child(2) .bullet:nth-child(3) {
    top: 65px;
  }
}
/* line 909, ../sass/people.scss */
.container .section.section-3 .sub-section:nth-child(2) .bullet:nth-child(4) {
  top: 110px;
  animation: marginx 400ms 0.6s ease forwards;
}
@media (max-width: 667px) {
  /* line 909, ../sass/people.scss */
  .container .section.section-3 .sub-section:nth-child(2) .bullet:nth-child(4) {
    top: 90px;
  }
}
/* line 909, ../sass/people.scss */
.container .section.section-3 .sub-section:nth-child(2) .bullet:nth-child(5) {
  top: 140px;
  animation: marginx 400ms 0.65s ease forwards;
}
@media (max-width: 667px) {
  /* line 909, ../sass/people.scss */
  .container .section.section-3 .sub-section:nth-child(2) .bullet:nth-child(5) {
    top: 115px;
  }
}
/* line 909, ../sass/people.scss */
.container .section.section-3 .sub-section:nth-child(2) .bullet:nth-child(6) {
  top: 170px;
  animation: marginx 400ms 0.7s ease forwards;
}
@media (max-width: 667px) {
  /* line 909, ../sass/people.scss */
  .container .section.section-3 .sub-section:nth-child(2) .bullet:nth-child(6) {
    top: 140px;
  }
}
/* line 909, ../sass/people.scss */
.container .section.section-3 .sub-section:nth-child(3) .bullet:nth-child(1) {
  top: 20px;
  animation: marginx 400ms 0.65s ease forwards;
}
@media (max-width: 667px) {
  /* line 909, ../sass/people.scss */
  .container .section.section-3 .sub-section:nth-child(3) .bullet:nth-child(1) {
    top: 15px;
  }
}
/* line 909, ../sass/people.scss */
.container .section.section-3 .sub-section:nth-child(3) .bullet:nth-child(2) {
  top: 50px;
  animation: marginx 400ms 0.7s ease forwards;
}
@media (max-width: 667px) {
  /* line 909, ../sass/people.scss */
  .container .section.section-3 .sub-section:nth-child(3) .bullet:nth-child(2) {
    top: 40px;
  }
}
/* line 909, ../sass/people.scss */
.container .section.section-3 .sub-section:nth-child(3) .bullet:nth-child(3) {
  top: 80px;
  animation: marginx 400ms 0.75s ease forwards;
}
@media (max-width: 667px) {
  /* line 909, ../sass/people.scss */
  .container .section.section-3 .sub-section:nth-child(3) .bullet:nth-child(3) {
    top: 65px;
  }
}
/* line 909, ../sass/people.scss */
.container .section.section-3 .sub-section:nth-child(3) .bullet:nth-child(4) {
  top: 110px;
  animation: marginx 400ms 0.8s ease forwards;
}
@media (max-width: 667px) {
  /* line 909, ../sass/people.scss */
  .container .section.section-3 .sub-section:nth-child(3) .bullet:nth-child(4) {
    top: 90px;
  }
}
/* line 909, ../sass/people.scss */
.container .section.section-3 .sub-section:nth-child(3) .bullet:nth-child(5) {
  top: 140px;
  animation: marginx 400ms 0.85s ease forwards;
}
@media (max-width: 667px) {
  /* line 909, ../sass/people.scss */
  .container .section.section-3 .sub-section:nth-child(3) .bullet:nth-child(5) {
    top: 115px;
  }
}
/* line 909, ../sass/people.scss */
.container .section.section-3 .sub-section:nth-child(3) .bullet:nth-child(6) {
  top: 170px;
  animation: marginx 400ms 0.9s ease forwards;
}
@media (max-width: 667px) {
  /* line 909, ../sass/people.scss */
  .container .section.section-3 .sub-section:nth-child(3) .bullet:nth-child(6) {
    top: 140px;
  }
}
@keyframes marginx {
  100% {
    left: 20px;
    opacity: 1;
  }
}
@media (max-width: 992px) {
  /* line 930, ../sass/people.scss */
  .container .section.section-3 .sub-section {
    flex-direction: column;
    height: unset;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
  /* line 937, ../sass/people.scss */
  .container .section.section-3 .sub-section .section-bullets {
    width: 70%;
    max-width: none;
    border-left: 0;
    border-top: 1px solid #b6b6b6;
    margin-top: 25px;
  }
  /* line 945, ../sass/people.scss */
  .container .section.section-3 .sub-section .section-body.body-text {
    padding-right: 0;
  }
}
/* line 952, ../sass/people.scss */
.container .section.section-4 {
  background: #fff;
  color: #373737;
  display: flex;
  flex-direction: column;
  height: 850px;
  width: 100%;
  z-index: 2;
}
/* line 961, ../sass/people.scss */
.container .section.section-4 .sub-section {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 0 0 3px 3px;
  background-color: #00c4ff;
}
@media (max-width: 992px) {
  /* line 961, ../sass/people.scss */
  .container .section.section-4 .sub-section {
    flex-direction: column;
    justify-content: space-around;
  }
}
@media (max-width: 667px) {
  /* line 961, ../sass/people.scss */
  .container .section.section-4 .sub-section {
    display: block;
    justify-content: space-around;
  }
}
/* line 985, ../sass/people.scss */
.container .section.section-4 .sub-section .img-filter {
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-image: url("../images/section1pattern.png");
  opacity: 0.5;
}
/* line 998, ../sass/people.scss */
.container .section.section-4 .sub-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../images/mikewest.jpg");
  background-attachment: fixed;
  background-position: 0px 50px;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
}
@media (max-width: 667px) {
  /* line 998, ../sass/people.scss */
  .container .section.section-4 .sub-section::after {
    background-attachment: scroll;
    padding-top: 25px;
    background-position: 0px center;
  }
}
/* line 1020, ../sass/people.scss */
.container .section.section-4 .section-4-box {
  display: flex;
  position: relative;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* line 1028, ../sass/people.scss */
.container .section.section-4 .section-4-box h1 {
  font-family: Lulo;
  font-size: 16pt;
  color: #fff;
  margin-bottom: 2.5vh;
}
@media (max-width: 992px) {
  /* line 1020, ../sass/people.scss */
  .container .section.section-4 .section-4-box {
    align-items: flex-start;
  }
}
@media (max-width: 667px) {
  /* line 1020, ../sass/people.scss */
  .container .section.section-4 .section-4-box {
    display: block;
  }
}
/* line 1044, ../sass/people.scss */
.container .section.section-4 #section-4-mobile-header {
  display: none;
  z-index: 3;
}
@media (max-width: 667px) {
  /* line 1044, ../sass/people.scss */
  .container .section.section-4 #section-4-mobile-header {
    display: block;
    height: auto;
    margin: 25px;
  }
}
/* line 1054, ../sass/people.scss */
.container .section.section-4 #section-4-img-container {
  z-index: 3;
  width: 574px;
}
/* line 1057, ../sass/people.scss */
.container .section.section-4 #section-4-img-container img {
  width: 100%;
}
@media (max-width: 992px) {
  /* line 1054, ../sass/people.scss */
  .container .section.section-4 #section-4-img-container {
    width: 416px;
    height: 300px;
    max-width: 100vw;
  }
}
@media (max-width: 667px) {
  /* line 1054, ../sass/people.scss */
  .container .section.section-4 #section-4-img-container {
    width: 200px;
    height: auto;
    float: left;
    padding-right: 25px;
  }
}
/* line 1073, ../sass/people.scss */
.container .section.section-4 #section-4-text-container {
  z-index: 2;
  flex: 1;
  padding: 3%;
  margin-right: 3vw;
}
/* line 1078, ../sass/people.scss */
.container .section.section-4 #section-4-text-container p {
  margin-top: 2.5vh;
  font-family: 'Open Sans', Verdana, sans-serif;
  font-size: 14pt;
  line-height: 21pt;
  font-weight: 300;
  color: #fff;
}
@media (max-width: 992px) {
  /* line 1073, ../sass/people.scss */
  .container .section.section-4 #section-4-text-container {
    padding-top: 0;
    margin: 0;
  }
}
@media (max-width: 667px) {
  /* line 1073, ../sass/people.scss */
  .container .section.section-4 #section-4-text-container {
    padding-bottom: 0;
  }
  /* line 1092, ../sass/people.scss */
  .container .section.section-4 #section-4-text-container h1 {
    display: none;
  }
}
/* line 1100, ../sass/people.scss */
.container .section.section-5 {
  max-width: 100vw;
  text-align: center;
  min-height: 420px;
  height: 100px;
  color: #fff;
  background-color: #262629;
  background: linear-gradient(to right, #202023 0%, #202023 15%, #27272f 35%, #202023 85%, #202023 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin-top: -50px;
}
/* line 1115, ../sass/people.scss */
.container .section.section-5 .inner-container {
  margin-top: 50px;
  align-self: center;
}
/* line 1120, ../sass/people.scss */
.container .section.section-5 .header {
  font-size: 20pt;
  margin: 10px 0px 15px;
}
@media (max-width: 667px) {
  /* line 1120, ../sass/people.scss */
  .container .section.section-5 .header {
    font-size: 17pt;
    padding: 0 25px;
  }
}
/* line 1130, ../sass/people.scss */
.container .section.section-5 button {
  width: 280px;
  border: 1px solid #fff;
  height: 60px;
  border-radius: 0;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  outline: none;
  font-family: 'Open Sans', Verdana, sans-serif;
  margin: 25px 0px;
  font-size: 9pt;
  font-weight: 100;
  cursor: pointer;
}

/* line 1150, ../sass/people.scss */
.mobile-indicator {
  display: none;
  position: fixed;
  width: 1px;
  height: 1px;
  background-color: transparent;
}
@media (max-width: 667px) {
  /* line 1150, ../sass/people.scss */
  .mobile-indicator {
    display: block;
  }
}

/* line 1162, ../sass/people.scss */
#schedule-section-1 {
  height: calc(100vh - 50px);
}
/* line 1165, ../sass/people.scss */
#schedule-section-1 .calendly-inline-widget {
  z-index: 2;
  height: calc(100% - 50px);
  width: 100%;
  position: absolute;
  top: 25px;
  left: 0;
}
